<% const myData = {rPath: '../../', title: '賛助企業詳細', desc:'', page:'support-company'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Supporting company' }) %>

<article class="p-support-company_single js-anim_elm -base">
  <div class="c-container">
    <div class="p-support-company_single__content">
      <div class="p-support-company_single__img js-anim_elm -base">
        <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
      </div>
      <div class="p-support-company_single__info">
        <p class="p-support-company_single__info__profession js-anim_elm -base">webサイト制作</p>
        <h2 class="p-support-company_single__info__company js-anim_elm -base">株式会社パワフルケア</h2>
        <dl class="p-support-company_single__info__detail js-anim_elm -base">
          <dt class="title c-text02">所在地</dt>
          <dd class="text c-text02">〒540-0031 大阪市中央区北浜東1-22 北浜東野村ビル4F</dd>
        </dl>
        <dl class="p-support-company_single__info__detail js-anim_elm -base">
          <dt class="title c-text02">TEL</dt>
          <dd class="text c-text02">0120-44-2960 | 06-6941-2388</dd>
        </dl>
        <div class="c-button03 js-anim_elm -base">
          <a target="_blank" class="js-hover" href="">
            <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/map-pin.svg" alt=""></i>Google Maps
          </a>
        </div>
        <ul class="p-support-company_single__info__sns js-anim_elm -base">
          <li class="item">
            <a target="_blank" class="js-hover" href="">
              <img class="js-svg" src="<%= myData.rPath %>img/common/ico/instagram-brands.svg" alt="">
            </a>
          </li>
          <li class="item">
            <a target="_blank" class="js-hover" href="">
              <img class="js-svg" src="<%= myData.rPath %>img/common/ico/facebook.svg" alt="">
            </a>
          </li>
        </ul>
        <div class="p-support-company_single__info__link">
          <div class="c-button01 js-anim_elm -base -medium">
            <a class="js-hover" target="_blank" href="https://www.pcare.jp/">
              この企業に問い合わせる
              <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/external-link-alt-regular.svg" alt=""></i>
            </a>
          </div>
          <p class="c-text01 js-anim_elm -base">(企業HPへ)</p>
        </div>
        <p class="p-support-company_single__info__notice c-text01 js-anim_elm -base">安全保育推進連絡協議会の会員とお伝えください。<br>会員得点が受けられない場合がございます。</p>
      </div>
    </div>
    <div class="c-about-us js-anim_elm -base">
      <h3 class="c-about-us__title c-text03">About us</h3>
      <p class="c-text01">次代を担う子どもたちに必要な、サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
    </div>
    <div class="p-support-company_single__prev c-button01 -green -small js-anim_elm -base">
      <a class="js-hover" href="../">
        一覧へ
        <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
      </a>
    </div>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>