<% const myData = {rPath: '../', title: '賛助企業一覧', desc:'', page:'support-company'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Supporting company' }) %>

<article class="p-support-company js-anim_elm -base">
  <div class="c-container">
    <%- include(myData.rPath + `_templates/_search01`, {myData: myData}) -%>
    <ul class="p-support-company__list">
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>support-company/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>z
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/index/company_logo.png" srcset="<%= myData.rPath %>img/index/company_logo.png 1x,<%= myData.rPath %>img/index/company_logo.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
            <li>#業種名が入ります</li>
          </ul>
        </a>
      </li>
    </ul>
    <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
  </div>
</article>
<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>