<% const myData = {rPath: '../', title: '会員専用ページ', desc:'', page:'mypage', color:'-blue'} %>
<%- include(myData.rPath + `_templates/_header_mypage`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Union member' }) %>

<section class="p-mypage_news">
  <div class="c-container">
    <div class="p-mypage_news__container">
      <div class="p-mypage_news__title">
        <div class="c-title01 js-anim_elm -base">
          <p class="c-title01__sub">News / Q&A</p>
          <h2 class="c-title01__lead">お知らせ・よろず相談</h2>
        </div>
        <div class="c-button02 js-anim_elm -base">
          <a class="js-hover" href=""><span class="js-sprit">一覧へ</span><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i></a>
        </div>
      </div>
      <div class="p-mypage_news__content js-anim_elm -base">
        <ul class="c-news_list">
          <% for (var i = 0; i < 3; i++) { %>
          <%- include(myData.rPath + '_templates/_itemNews', {myData: myData}) %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="p-mypage_seminar">
  <div class="c-container">
    <div class="p-mypage_seminar__container">
      <div class="p-mypage_seminar__title">
        <div class="c-title01 js-anim_elm -base">
          <p class="c-title01__sub">Seminar / Training</p>
          <h2 class="c-title01__lead">セミナー・研修</h2>
        </div>
        <div class="c-button02 js-anim_elm -base">
          <a class="js-hover" href=""><span class="js-sprit">一覧へ</span><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i></a>
        </div>
      </div>
      <div class="p-mypage_seminar__content js-anim_elm -base">
        <ul class="p-index_seminar__list">
          <% for (var i = 0; i < 3; i++) { %>
            <%- include(myData.rPath + '_templates/_itemSeminar03', {myData: myData}) %>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include(myData.rPath + `_templates/_footer02`, {myData: myData}) -%>