<div class="c-side_navi">
  <div class="c-drawer__button js-drawer-button js-hover">
    <div class="c-drawer__humburger">
      <span></span>
    </div>
    <span class="c-drawer__humburger_menu js-sprit"></span>
  </div>
  <div class="c-side_navi__copy">
    <p class="c-font-zen">&copy; 一般社団法人 安全保育推進連絡協議会</p>
  </div>
  <div class="c-side_navi__bottom">
    <ul class="c-side_navi__bottom__list">
      <li class="item">
        <a href="<%= myData.rPath %>login/">
          <span class="item_svg"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/sign-in-alt-light.svg" alt=""></span>
          <p>
            <span class="js-sprit">会員</span><br>
            <span class="js-sprit">ログイン</span></p>
        </a>
      </li>
      <li class="item">
        <a href="<%= myData.rPath %>contact/">
          <span class="item_svg"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/envelope-light.svg" alt=""></span>
          <p class="js-sprit">お問い合わせ</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<nav id="js-drawer" class="c-drawer">
  <div class="c-drawer__container">
    <div class="c-drawer__inner">
      <div class="c-drawer__img">
        <img src="<%= myData.rPath %>img/common/parts/drawer.jpg" srcset="<%= myData.rPath %>img/common/parts/drawer.jpg 1x,<%= myData.rPath %>img/common/parts/drawer@2x.jpg 2x" alt="">
      </div>
      <div class="c-drawer__menu">
        <div class="c-drawer__menu__inner">
          <div class="c-drawer__menu__head">
            <ul class="c-drawer__menu__list">
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>about-us/">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  総合情報
                </a>
              </li>
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>member/">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  組合企業一覧
                </a>
              </li>
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>support-company/">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  賛助企業
                </a>
              </li>
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>news/">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  新着情報
                </a>
              </li>
            </ul>
            <ul class="c-drawer__menu__list">
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>seminar/">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  セミナー・研修
                </a>
              </li>
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  入会のご案内
                </a>
              </li>
              <li class="c-drawer__menu__item">
                <a class="js-hover" href="<%= myData.rPath %>">
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
                  プライバシーポリシー
                </a>
              </li>
            </ul>
          </div>
          <div class="c-drawer__menu__bottom">
            <div class="c-drawer__menu__bottom__item">
              <a class="js-hover" href="<%= myData.rPath %>login/">
                <span class="item_svg"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/sign-in-alt-light.svg" alt=""></span><br>
                会員ログイン
              </a>
            </div>
            <div class="c-drawer__menu__bottom__item">
              <a class="js-hover" href="<%= myData.rPath %>contact/">
                <span class="item_svg"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/envelope-light.svg" alt=""></span><br>
                お問い合わせ
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

