<!-- /.l-main --></main>

<footer class="l-footer">
  
  <div class="c-container">
    <div class="l-footer_bottom">
      <div class="l-footer_bottom__logo">
        <a href="<%= myData.rPath %>">
          <img src="<%= myData.rPath %>img/common/logo.svg" alt="一般社団法人　安全保育推進連絡協議会">
        </a>
      </div>
      <div class="l-footer_bottom__sitemap">
        <ul class="l-footer_bottom__sitemap__list">
          <li class="item">
            <a href="">組合情報</a>
          </li>
          <li class="item">
            <a href="">組合企業一覧</a>
          </li>
          <li class="item">
            <a href="">賛助企業</a>
          </li>
        </ul>
        <ul class="l-footer_bottom__sitemap__list">
          <li class="item">
            <a href="">新着情報</a>
          </li>
          <li class="item">
            <a href="">セミナー・研修</a>
          </li>
        </ul>
        <ul class="l-footer_bottom__sitemap__list">
          <li class="item">
            <a href="">入会のご案内</a>
          </li>
          <li class="item">
            <a href="">プライバシーポリシー</a>
          </li>
          <li class="c-button01 -small -ico-left">
            <a class="js-hover" href="">
              <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/sign-in-alt-light.svg" alt=""></i>
              会員ログイン画面</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="l-footer_bottom__copy">&copy; 一般社団法人 安全保育推進連絡協議会</p>
  </div>
<!-- / .l-footer --></footer>
<!-- <div class="c-pagetop" id="pagetop"><a href="#page">ページトップ</a></div> -->
<%- include(`./_drawer`) -%>
<!-- / #page --></div>

<script src="<%= myData.rPath + 'dist/js/bundle.js' %>" charset="utf-8"></script>

</body>
</html>