<meta charset="utf-8">
<title><%= site.title %></title>
<meta name="description" content="<%= site.desc %>">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<% if (site.publish === 'true') {%>
<meta name="robots" content="index,follow">
<% } else if (site.publish === 'false') {%>
<meta name="robots" content="noindex,nofollow">
<% } %>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= site.url %>dist/img/common/favicon.ico">
<link rel="icon" type="image/vnd.microsoft.icon" href="<%= site.url %>dist/img/common/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="<%= site.url %>dist/img/common/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="<%= site.url %>dist/img/common/webclip.png">
<link rel="canonical" href="<%= site.url %><%= myData.page %>/" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= site.site_title %>" />
<meta property="og:description" content="<%= site.desc %>" />
<meta property="og:url" content="<%= site.url %><%= myData.page %>/" />
<meta property="og:site_name" content="<%= site.site_title %>" />
<meta property="og:image" content="<%= site.url %>dist/img/ogp.jpg" />
<meta property="og:image:secure_url" content="<%= site.url %>dist/img/ogp.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="<%= site.desc %>" />
<meta name="twitter:title" content="<%= site.site_title %>" />
<meta name="twitter:image" content="<%= site.url %>dist/img/ogp.jpg" />
<link rel="stylesheet" type="text/css" href="<%= myData.rPath %>dist/css/style.css" media="all">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>