<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('./_head',{myData: myData}) -%>
</head>
<body class="<%= myData.page %>">
  <script>
    var cookieName = 'uni-anpokyou';
    var cookie = Cookies.get(cookieName);
    var body = document.body;
    if (!cookie) {
      var isOpening = true;
      var isLoaded = false;
      body.className += ' is-opening is-start';
      document.addEventListener('DOMContentLoaded', function () {
        body.className += ' is-ready';
        window.addEventListener('load', function () {
          body.className += ' is-loaded';
          isLoaded = true;
        });
      });
      var date = new Date();
      date.setTime(date.getTime() + (10 * 60 * 1000));
      Cookies.set(cookieName, '1', {
        expires: date,
        samesite: 'lax'
      });
    } else {
      body.className += ' is-start';
      document.addEventListener('DOMContentLoaded', function () {
        body.className += ' is-ready';
        window.addEventListener('load', function () {
          body.className += ' is-loaded';
        });
      });
    }
  </script>
  <div id="page" class="<%= myData.color %>">
  <!--   ヘッダー   -->
  <header id="js-header" class="l-header">
    <div class="l-header__container">
      <% if (myData.page == 'top') { %>
      <h1 class="l-header__logo">
        <span class="link">
          <img src="<%= myData.rPath %>img/common/logo.svg" alt="一般社団法人　安全保育推進連絡協議会">
        </span>
      </h1>
      <% } else { %>
      <h2 class="l-header__logo">
        <a href="<%= myData.rPath %>">
          <img src="<%= myData.rPath %>img/common/logo.svg" alt="一般社団法人　安全保育推進連絡協議会">
        </a>
      </h2>
      <% } %>
      <ul class="l-header__navi">
        <li>
          <a href="<%= myData.rPath %>about-us/" class="js-sprit">HOME</a>
        </li>
        <li>
          <a href="<%= myData.rPath %>news/" class="js-sprit">お知らせ・Q&amp;A</a>
        </li>
        <li>
          <a href="<%= myData.rPath %>seminar/" class="js-sprit">セミナー・研修</a>
        </li>
        <li class="c-button01 -blue -ico-left -small">
            <a class="js-hover" href="">
              <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/clipboard-list-regular.svg" alt=""></i>
              なんでもよろず相談
            </a>
        </li>
      </ul>
    </div>
  </header>
  <main class="l-main">
