<li class="c-seminar_list02__list__item">
  <a href="<%= myData.rPath %>seminar/single/" class="c-seminar_list02__link js-hover">
    <div class="c-seminar_list02__link__img">
      <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
    </div>
    <div class="c-seminar_list02__link__info">
      <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
      <dl class="c-seminar_list02__link__desc">
        <dt>開催日</dt>
        <dd><time>2021.00.00</time></dd>
      </dl>
      <dl class="c-seminar_list02__link__desc">
        <dt>開催場所</dt>
        <dd>テキストが入ります</dd>
      </dl>
      <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
    </div>
  </a>
</li>