<li class="c-seminar_list__item">
  <a href="<%= myData.rPath %>seminar/single/" class="c-seminar_list__link js-hover">
    <div class="c-seminar_list__link__img">
      <img src="<%= myData.rPath %>img/index/seminar_img01.jpg" srcset="<%= myData.rPath %>img/index/seminar_img01.jpg 1x,<%= myData.rPath %>img/index/seminar_img01@2x.jpg 2x" alt="">
    </div>
    <div class="c-seminar_list__link__text">
      <p class="c-seminar_list__link__title c-text02">セミナータイトルがはいります</p>
      <dl class="c-seminar_list__link__desc">
        <dt>開催日</dt>
        <dd><time>2021.00.00</time></dd>
      </dl>
      <dl class="c-seminar_list__link__desc">
        <dt>開催場所</dt>
        <dd>テキストが入ります</dd>
      </dl>
    </div>
  </a>
</li>