<li class="c-news_list__item">
  <a href="<%= myData.rPath %>news/single/" class="c-news_list__link js-hover -flex">
    <div class="c-news_list__link__info">
      <time>2021.00.00</time>
      <span class="cat">お知らせ</span>
    </div>
    <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
  </a>
</li>