<div class="c-lower-head02">
  <div class="c-container">
    <h1 class="c-lower-head02__titl c-title04">
      <span class="en c-text-center"><%= subtitle %></span>
      <span class="jp c-title01 c-text-center"><%= myData.title %></span>
    </h1>
  </div>
</div>
<div class="c-breadcrumb">
</div>