<div class="c-lower-head01 js-anim_elm -fade">
  <div class="c-lower-head01__head">
    <img src="<%= myData.rPath %>img/main/<%= src %>.jpg" srcset="<%= myData.rPath %>img/main/<%= src %>.jpg 1x,<%= myData.rPath %>img/main/<%= src %>@2x.jpg 2x" alt="">
  </div>
  <div class="c-container">
    <h1 class="c-lower-head01__title c-title04">
      <span class="en c-text-center"><%= subtitle %></span>
      <span class="jp c-title01 c-text-center"><%= myData.title %></span>
    </h1>
  </div>
</div>
<div class="c-breadcrumb">
</div>