<div class="wp-pagenavi js-anim_elm -base">
  <span class="current">1</span>
  <a class="page larger" href="">2</a>
  <a class="page larger" href="">3</a>
  <a class="page larger" href="">4</a>
  <a class="nextpostslink" rel="next">…</a>
  </div>