<% const myData = {rPath: '../../', title: 'お知らせ・よろず相談', desc:'', page:'news' ,color:'-blue'} %>
<%- include(myData.rPath + `_templates/_header_mypage`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'News / Q&A' }) %>

<article class="p-news_archive js-anim_elm -base">
  <div class="c-container">
    <ul class="p-news_archive__list">
      <li class="p-news_archive__list__item">
        <a class="is-current js-hover" href="">全て</a>
      </li>
      <li class="p-news_archive__list__item">
        <a class="js-hover" href="">お知らせ</a>
      </li>
      <li class="p-news_archive__list__item">
        <a class="js-hover" href="">よろず相談</a>
      </li>
    </ul>
    <div class="p-news_archive__content">
      <ul class="c-news__list">
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
        <li class="c-news_list__item">
          <a href="<%= myData.rPath %>mypage/news/single/" class="c-news_list__link js-hover -flex">
            <div class="c-news_list__link__info">
              <time>2021.00.00</time>
              <span class="cat">お知らせ</span>
            </div>
            <div class="c-news_list__link__title c-text02">HPをオープンしました。HPをオープンしました。</div>
          </a>
        </li>
      </ul>
      <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
    </div>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>