// 最低限のスタイルの参考です。
// 必要に応じて変更してください。

@charset "utf-8";
@use "./foundation"as f;
@use './object/components/layout';
@use './object/components/parts';


.wp-block {
  // .c-containerみたいなもの
  max-width: 90% !important;
  padding-left: f.smooth_size(20px, 40px);
  padding-right: f.smooth_size(20px, 40px);

  .block-form {
    > h3 {
      // エディタとしての見出しが、上で指定したスタイルを受け取ってしまったりするので調整
      display: block;
      margin-top: 0;
      border: none;
    }
  }
}


.block-editor-block-list__layout {
  // この直下にエディタのブロックが並ぶ
  text-indent: f.smooth_font(0px, 0px);
  font-size: f.smooth_font(14px, 16px);
  font-family: f.$base_font;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  max-width: 90%;

  // c-containerなどは、管理画面のサイドバーのせいではみ出したりするので横幅は%指定
  .c-container {
    width: 90%;
    padding-left: f.smooth_size(20px, 40px);
    padding-right: f.smooth_size(20px, 40px);
    margin: 0 auto;
  }

  .c-fluid {
    padding-left: f.smooth_size(20px, 40px);
    padding-right: f.smooth_size(20px, 40px);
  }

  
  > * {
    // 各要素の間隔調整
    margin-bottom: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
    > * {
      margin-bottom: 1em;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  // いろいろスタイル指定
  h2,h3,h4,h5,h6 {

  }
  
  p {
    border-radius: 10px;
    margin: f.smooth_size(20px, 40px) 0;
    line-height: 2;
  }
  .post-type-seminar &,
  .post-type-member &{
    p{
      padding: f.smooth_size(20px, 40px);
      background: f.$bg_color;
      &::before{
        
        content: 'About us・概要';
        color: f.$main_color;
        display: block;
      }
    }
  }

  h2 {
  }
  
  h3 {

  }

  ul {
    li {

    }
  }

  ol {
    li {

    }
  }

  blockquote {

  }

  img {
    margin: 20px 0 30px;
  }
}
