<% const myData = {rPath: '../../', title: '会員一覧', desc:'', page:'member'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<article class="p-member_single">
  <div class="p-member_single__container js-anim_elm -base">
    <div class="c-container">
      <div class="p-member_single__head">
        <div class="p-member_single__head__inner">
          <h1 class="p-member_single__head__title">ＲＩＣホープ高槻保育園</h1>
          <dl class="p-member_single__head__info">
            <dt class="title c-text02">所在地</dt>
            <dd class="text c-text02">〒569-0071 大阪府高槻市城北町1丁目5−30</dd>
            <dt class="title c-text02">TEL</dt>
            <dd class="text c-text02">072-676-7055</dd>
            <dt class="title c-text02">FAX</dt>
            <dd class="text c-text02">072-676-7056</dd>
            <dt class="title c-text02">定員</dt>
            <dd class="text c-text02">20人</dd>
            <dt class="title c-text02">開園時間</dt>
            <dd class="text c-text02">10時〜20時</dd>
          </dl>
          <p class="c-text02">阪急高槻市駅から徒歩3分</p>
          <div class="p-member_single__head__map c-button03">
            <a target="_blank" class="js-hover" href="">
              <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/map-pin.svg" alt=""></i>Google Maps
            </a>
          </div>
        </div>
        <div class="p-member_single__head__pic js-anim_elm -base">
          <span class="js-anim_elm -fade">
            <img src="<%= myData.rPath %>img/member/img_03.jpg" srcset="<%= myData.rPath %>img/member/img_03.jpg 1x,<%= myData.rPath %>img/member/img_03@2x.jpg 2x" alt="">
          </span>
        </div>
      </div>
      <table class="c-table">
        <tr>
          <th>日祝利用</th>
          <th>夜間利用</th>
          <th>一時利用</th>
          <th>病児・病後児保育</th>
          <th>地域児童枠</th>
          <th>共同利用枠</th>
        </tr>
        <tr>
          <td>●</td>
          <td>●</td>
          <td>ー</td>
          <td>●</td>
          <td>●</td>
          <td>●</td>
        </tr>
      </table>
      <div class="c-about-us js-anim_elm -base">
        <h3 class="c-about-us__title c-text03">About us</h3>
        <p class="c-text01">次代を担う子どもたちに必要な、サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
        <div class="c-about-us__button c-button02 -green">
          <a class="js-hover" href="">
            <span class="js-sprit">公式ホームページ</span>
            <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/external-link-alt-regular.svg" alt=""></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-container">
    <div class="p-member_single__other">
      <h2 class="c-title05 c-title-center js-anim_elm -base">
        <span class="en">Others</span>
        <span class="jp">近くの保育園</span>
      </h2>
      <ul class="p-member__list">
        <li class="item js-anim_elm -order-fade">
          <a class="js-hover" href="<%= myData.rPath %>support-company/single">
            <div class="item__img">
              <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
            </div>
            <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          </a>
        </li>
        <li class="item js-anim_elm -order-fade">
          <a class="js-hover" href="<%= myData.rPath %>support-company/single">
            <div class="item__img">
              <img src="<%= myData.rPath %>img/member/img_02.png" srcset="<%= myData.rPath %>img/member/img_02.png 1x,<%= myData.rPath %>img/member/img_02@2x.png 2x" alt="">
            </div>
            <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          </a>
        </li>
        <li class="item js-anim_elm -order-fade">
          <a class="js-hover" href="<%= myData.rPath %>support-company/single">
            <div class="item__img">
              <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
            </div>
            <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          </a>
        </li>
      </ul>
      <div class="c-button01 -green -small -center js-anim_elm -base">
        <a class="js-hover" href="">
          一覧へ
          <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
        </a>
      </div>
    </div>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>