<% const myData = {rPath: '../', title: 'セミナー・研修', desc:'', page:'seminar'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Seminar / Training' }) %>

<article class="p-seminar js-anim_elm -base">
  <div class="c-container">
    <%- include(myData.rPath + `_templates/_search02`, {myData: myData}) -%>
    <ul>
      <% for (var i = 0; i < 10; i++) { %>
      <%- include(myData.rPath + '_templates/_itemSeminar02', {myData: myData}) %>
      <% } %>
    </ul>
    <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
  </div>
</article>
<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>