<% const myData = {rPath: '../', title: 'お知らせ', desc:'', page:'news'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'News' }) %>

<article class="p-news_archive js-anim_elm -base">
  <div class="c-container">
    <ul class="p-news_archive__list">
      <li class="p-news_archive__list__item">
        <a class="is-current js-hover" href="">全て</a>
      </li>
      <li class="p-news_archive__list__item">
        <a class="js-hover" href="">お知らせ</a>
      </li>
      <li class="p-news_archive__list__item">
        <a class="js-hover" href="">活動報告</a>
      </li>
    </ul>
    <div class="p-news_archive__content">
      <ul class="c-news__list">
        <% for (var i = 0; i < 10; i++) { %>
        <%- include(myData.rPath + '_templates/_itemNews', {myData: myData}) %>
        <% } %>
      </ul>
      <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
    </div>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>