<% const myData = {rPath: '../', title: '組合情報', desc:'', page:'about-us'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head01`, {myData: myData, subtitle: 'About us', src: 'about_us_kv' }) %>

<section class="p-about-us_message js-anim_elm -base">
  <div class="c-container">
    <h2 class="c-title06 js-anim_elm -base">ご挨拶</h2>
    <div class="p-about-us_message__content">
      <div class="p-about-us_message__pic">
        <img class="js-anim_elm -base" src="<%= myData.rPath %>img/aboutus/message.jpg" srcset="<%= myData.rPath %>img/aboutus/message.jpg 1x, <%= myData.rPath %>img/aboutus/message@2x.jpg 2x" alt="">
        <div class="p-about-us_message__pic__name js-anim_elm -base">
          <p class="c-text01 c-font-bold">代表取締役</p>
          <p class="name"><img class="js-svg" src="<%= myData.rPath %>img/aboutus/name.svg" alt=""></p>
        </div>
      </div>
      <div class="p-about-us_message__text js-anim_elm -base">
        <p class="c-text01">当会は令和元年に設立された企業主導型保育事業者を主とした一般社団法人です。<br>
          企業主導型保育事業の開始は平成28年と比較的新しく、国が待機児童解消の為に導入スピード重視で作った制度ですので、その運用については、まだまだ改善の余地があります。一方で、事業者サイドも他事業からの新規参入が多く、保育関連の法律への理解や、保育そのものへの理解が充分でないがゆえの不適切な運営があるなど、課題は多く存在します。</p>
        <p class="c-text01 u-mt10">そもそも、企業主導型保育事業という制度の最終目的は『女性の社会進出・就労の促進』『多様な働き方への対応』『子どもの最善の利益』だと当会は考えています。従って、国や行政サイドとの連携不足や、制度の不充分な理解による運営の結果、子どもと保護者に不利益を与えてしまうことは、当たり前ですが国も事業主も、そして子どもと保護者も望んでいません。<br>
          当会は企業主導型保育事業を営む事業主の『子どもと保護者の為の適切かつ安定した運営』に係る様々なニーズに対応し、また事業主と行政間の双方向の橋渡し役をも対応することを主業務として、最終的に子どもと保護者の最善の利益を追求する団体でありたいという想いから生まれました。</p>
        <p class="c-text01 u-mt10">『子どもは未来』とはよく言ったものですが、私たち大人が、社会で生きていく中で出会ってしまったしがらみ・妥協・不文律などの『いろんなこと』と戦っているうちに、いつしか無くしてしまった『無限の可能性と真っ白な未来』を持っている子どもと、その子どもの為に一所懸命に働いて頑張る保護者の方々の利益を目的として、当会は次世代にバトンを繋ぐ役割を追求します。</p>
      </div>
    </div>
  </div>
</section>

<section class="p-about-us_philosophy js-anim_elm -base">
  <div class="c-container">
    <h2 class="c-title06">理念</h2>
    <p class="p-about-us_philosophy__text c-text01">２０１７年に施行された企業主導型保育事業は、認可保育事業とは異なり、認可外保育施設ならではの多様な事業経営が可能です。反面、制度の導入経緯や歴史の浅さから、新規参入事業者・保育経験事業者を問わず、子どもと親の最善の利益を追求する意識や運営ノウハウが共有できていないという課題もあります。<br>
      当会が、保育事業者に経営上の様々なサポートを提供することで、企業主導型保育事業の健全に継続でき、最終的に子どもと親の最善の利益が担保できることを、当会の理念とします。</p>
    <ul class="p-about-us_philosophy__list">
      <li class="p-about-us_philosophy__list__item js-anim_elm -fa">
        <h3 class="item__title">
          <span class="number">01</span>
          <span class="title">健全保育</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">子どもと親の最善の利益を守る</p>
        <p class="c-text-center c-text01 u-mt10">保育事業の存在意義＝公器、<br>未来を育む事業</p>
      </li>
      <li class="p-about-us_philosophy__list__item">
        <h3 class="item__title">
          <span class="number">02</span>
          <span class="title">健全な経営</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">健全な経営は健全な保育の基盤</p>
        <p class="c-text-center c-text01 u-mt10">事業の継続を重視し、<br>ステークホルダーを向いた経営</p>
      </li>
      <li class="p-about-us_philosophy__list__item">
        <h3 class="item__title">
          <span class="number">03</span>
          <span class="title">独自性と多様性</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">企業の特性と自由度の発揮</p>
        <p class="c-text-center c-text01 u-mt10">オリジナリティあふれる<br>オーナーシップの発揮</p>
      </li>
    </ul>
  </div>
</section>

<section class="p-about-us_job">
  <div class="c-container">
    <h2 class="c-title06 js-anim_elm -base">業務内容</h2>
    <p class="p-about-us_job__text c-text01 js-anim_elm -base">当会は理念に則り、待機児童解消と働く女性の活躍支援・子育て支援を推し進めることを目的とします。<br>
      具体的には、当会に所属する事業者が独自性と多様性をもって、健全な経営を行い、結果として子どもと親の最善の利益を守るため、事業者同士の意識やノウハウの共有、行政への提言や要望、行政と事業者との橋渡し、業界団体同士の連携・業界の活性化など、多岐にわたる役割を担います。</p>
    <ul class="p-about-us_job__list">
      <li class="p-about-us_job__list__item js-anim_elm -order-fade">
        <h3 class="item__title">
          <span class="number">01</span>
          <span class="title">事業者</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">情報共有や行政への提言・要望</p>
        <p class="c-text-center c-text01 u-mt10">会員向けサービスの提供、<br>行政との橋渡し</p>
      </li>
      <li class="p-about-us_job__list__item js-anim_elm -order-fade">
        <h3 class="item__title">
          <span class="number">02</span>
          <span class="title">行政</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">事業者との橋渡し役（質の担保）</p>
        <p class="c-text-center c-text01 u-mt10">行政の求める『企業主導型』の<br>あるべき姿の追求</p>
      </li>
      <li class="p-about-us_job__list__item js-anim_elm -order-fade">
        <h3 class="item__title">
          <span class="number">03</span>
          <span class="title">協力団体や企業</span>
        </h3>
        <p class="c-text-center c-text03 c-font-bold">連携と業界の活性化</p>
        <p class="c-text-center c-text01 u-mt10">推薦企業による会員向けサービス提供など協議会内外とのビジネスマッチング（win-winの関係づくり）</p>
      </li>
    </ul>
  </div>
</section>

<section class="p-about-us_info js-anim_elm -base">
  <div class="c-container">
    <h2 class="c-title06 js-anim_elm -base">組合概要</h2>
    <div class="p-about-us_info__list js-anim_elm -base">
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">名称</dt>
        <dd class="c-text01">一般社団法人　安全保育推進連絡協議会</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">創立</dt>
        <dd class="c-text01">令和1年10月29日</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">設立</dt>
        <dd class="c-text01">令和1年10月29日</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">代表理事</dt>
        <dd class="c-text01">黒田命人</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">理事</dt>
        <dd class="c-text01">浅川岳彦、坂本隆宏</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">事業内容</dt>
        <dd class="c-text01">保育事業者向け研修の実施、保育事業者間のマッチング事業、保育に関する企画開発、<br>
          その他保護者・子育て支援に関する事業</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">住所</dt>
        <dd class="c-text01">〒569-0803<br>大阪府高槻市高槻町5-23　ファイブビル3階</dd>
      </dl>
      <dl class="p-about-us_info__list__item">
        <dt class="c-text01">電話番号</dt>
        <dd class="c-text01">072-681-7465（株式会社パワフルケア）</dd>
      </dl>
    </div>
  </div>
</section>

<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>