<% const myData = {rPath: '../', title: '総合員専用 ログイン画面', desc:'', page:'login'} %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(myData.rPath + `_templates/_head`, {myData: myData}) -%>
</head>
<body class="<%= myData.page %>">
  <script>
    var cookieName = 'uni-anpokyou';
    var cookie = Cookies.get(cookieName);
    var body = document.body;
    if (!cookie) {
      var isOpening = true;
      var isLoaded = false;
      body.className += ' is-opening is-start';
      document.addEventListener('DOMContentLoaded', function () {
        body.className += ' is-ready';
        window.addEventListener('load', function () {
          body.className += ' is-loaded';
          isLoaded = true;
        });
      });
      var date = new Date();
      date.setTime(date.getTime() + (10 * 60 * 1000));
      Cookies.set(cookieName, '1', {
        expires: date,
        samesite: 'lax'
      });
    } else {
      body.className += ' is-start';
      document.addEventListener('DOMContentLoaded', function () {
        body.className += ' is-ready';
        window.addEventListener('load', function () {
          body.className += ' is-loaded';
        });
      });
    }
  </script>
  <div id="page">
  <!--   ヘッダー   -->
  <header id="js-header" class="l-header">
    <div class="l-header__container">
      <% if (myData.page == 'top') { %>
      <h1 class="l-header__logo">
        <span class="link">
          <img src="<%= myData.rPath %>img/common/logo.svg" alt="一般社団法人　安全保育推進連絡協議会">
        </span>
      </h1>
      <% } else { %>
      <h2 class="l-header__logo">
        <a href="<%= myData.rPath %>">
          <img src="<%= myData.rPath %>img/common/logo.svg" alt="一般社団法人　安全保育推進連絡協議会">
        </a>
      </h2>
      <% } %>
    </div>
  </header>
  <main class="l-main">

<section class="p-login">
  <div class="c-container">
    <h1 class="c-title04">
      <span class="en c-text-center">Login</span>
      <span class="jp c-title01 c-text-center">総合員専用 ログイン画面</span>
    </h1>
    <div class="p-login__content">
      <div class="p-login__pic">
      </div>
      <form class="p-login_form" action="">
        <div class="p-login__inner">
          <div class="p-login__inner__input">
            <input class="c-text01" type="text" placeholder="ユーザー名 または メールアドレス">
            <input class="c-text01" type="text" placeholder="パスワード">
            <span class="mwform-checkbox-field horizontal-item">
              <label class="input-checkbox">
                <input type="checkbox" name="kinds" value="ログイン情報を保存する">
                <span class="mwform-checkbox-field-text c-text01">ログイン情報を保存する</span>
              </label>
            </span>
          </div>
          <div class="p-login__inner__link">
            <div class="button">
              <button class="c-button01 -green -small">
                <span class="submit js-hover" href="">
                  ログイン
                  <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/sign-in-alt-light.svg" alt=""></i>
                </span>
              </button>
            </div>
            <ul>
              <li><a class="js-hover link" href="">パスワードを忘れた方はこちら</a></li>
              <li><a class="js-hover link" href="">会員登録についてはこちら</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include(myData.rPath + `_templates/_drawer`, {myData: myData}) -%>
<!-- / #page --></div>

<script src="<%= myData.rPath + 'dist/js/bundle.js' %>" charset="utf-8"></script>

</body>
</html>