<% const myData = {rPath: '../../', title: 'セミナー・研修', desc:'', page:'seminar' , color: '-blue'} %>
<%- include(myData.rPath + `_templates/_header_mypage`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Seminar / Training' }) %>

<article class="p-seminar js-anim_elm -base">
  <div class="c-container">
    <form action="">
      <div class="c-search">
        <dl class="c-search__item">
          <dt class="c-search__item__title">都道府県</dt>
          <dd class="c-search__item__content">
            <select class="c-select" name="pref">
              <option class="c-select__initial" value="" selected>全て</option>
              <option value="北海道">北海道</option>
              <option value="青森県">青森県</option>
              <option value="岩手県">岩手県</option>
              <option value="宮城県">宮城県</option>
              <option value="秋田県">秋田県</option>
              <option value="山形県">山形県</option>
              <option value="福島県">福島県</option>
              <option value="茨城県">茨城県</option>
              <option value="栃木県">栃木県</option>
              <option value="群馬県">群馬県</option>
              <option value="埼玉県">埼玉県</option>
              <option value="千葉県">千葉県</option>
              <option value="東京都">東京都</option>
              <option value="神奈川県">神奈川県</option>
              <option value="新潟県">新潟県</option>
              <option value="富山県">富山県</option>
              <option value="石川県">石川県</option>
              <option value="福井県">福井県</option>
              <option value="山梨県">山梨県</option>
              <option value="長野県">長野県</option>
              <option value="岐阜県">岐阜県</option>
              <option value="静岡県">静岡県</option>
              <option value="愛知県">愛知県</option>
              <option value="三重県">三重県</option>
              <option value="滋賀県">滋賀県</option>
              <option value="京都府">京都府</option>
              <option value="大阪府">大阪府</option>
              <option value="兵庫県">兵庫県</option>
              <option value="奈良県">奈良県</option>
              <option value="和歌山県">和歌山県</option>
              <option value="鳥取県">鳥取県</option>
              <option value="島根県">島根県</option>
              <option value="岡山県">岡山県</option>
              <option value="広島県">広島県</option>
              <option value="山口県">山口県</option>
              <option value="徳島県">徳島県</option>
              <option value="香川県">香川県</option>
              <option value="愛媛県">愛媛県</option>
              <option value="高知県">高知県</option>
              <option value="福岡県">福岡県</option>
              <option value="佐賀県">佐賀県</option>
              <option value="長崎県">長崎県</option>
              <option value="熊本県">熊本県</option>
              <option value="大分県">大分県</option>
              <option value="宮崎県">宮崎県</option>
              <option value="鹿児島県">鹿児島県</option>
              <option value="沖縄県">沖縄県</option>
            </select>
          </dd>
        </dl>
        <dl class="c-search__item">
          <dt class="c-search__item__title">ジャンル</dt>
          <dd class="c-search__item__content">
            <select class="c-select" name="pref">
              <option class="c-select__initial" value="" selected>全て</option>
              <option value="あああ">保育士</option>
              <option value="いいい">マネジメント</option>
              <option value="ううう">管理者向け</option>
              <option value="えええ">キャリアアップ</option>
              <option value="おおお">その他</option>
            </select>
          </dd>
        </dl>
        <button type="submit" class="c-search__button js-hover">
          検索する<i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/search.svg" alt=""></i>
        </button>
      </div>
    </form>
    <ul>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
      <li class="c-seminar_list02__list__item">
        <a href="<%= myData.rPath %>mypage/seminar/single/" class="c-seminar_list02__link js-hover">
          <div class="c-seminar_list02__link__img">
            <img src="<%= myData.rPath %>img/seminar/img_01.jpg" srcset="<%= myData.rPath %>img/seminar/img_01.jpg 1x,<%= myData.rPath %>img/seminar/img_01@2x.jpg 2x" alt="">
          </div>
          <div class="c-seminar_list02__link__info">
            <h2 class="c-seminar_list02__link__title c-text02">セミナータイトルがはいります</h2>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催日</dt>
              <dd><time>2021.00.00</time></dd>
            </dl>
            <dl class="c-seminar_list02__link__desc">
              <dt>開催場所</dt>
              <dd>テキストが入ります</dd>
            </dl>
            <p class="c-seminar_list02__link__text c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
          </div>
        </a>
      </li>
    </ul>
    <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
  </div>
</article>
<%- include(myData.rPath + `_templates/_footer02`, {myData: myData}) -%>