<% const myData = {rPath: '../', title: 'お問い合わせ', desc:'', page:'news'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Contact' }) %>
<article class="p-contact">
  <section class="p-contact_body">
    <form id="js-form" class="c-form">
      <script>
        document.querySelector('.c-form').classList.add('h-adr');
      </script>
      <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
      <span class="p-country-name" style="display:none;">Japan</span>
      <div class="c-container -narrow">
        <ul class="p-contact__flow">
          <li class="p-contact__flow__item -current">
            <div class="number c-text02">
              <span>01</span>
            </div>
            <p class="text">入力</p>
          </li>
          <li class="p-contact__flow__item">
            <div class="number">
              <span>02</span>
            </div>
            <p class="text">入力</p>
          </li>
          <li class="p-contact__flow__item">
            <div class="number">
              <span>03</span>
            </div>
            <p class="text">送信完了</p>
          </li>
        </ul>
        <p class="c-text01 c-text-center">サンプルテキスト。ご入力いただいた内容は、担当者が確認し○営業日以内に<br>ご入力いただいたメールアドレスにご返信致します。サンプルテキスト</p>
        <ul class="p-contact__list">
          <li class="p-contact__item -required">
            <div class="p-contact__item__head">お名前</div>
            <div class="p-contact__item__body"><input type="text" name="name" placeholder=""></div>
          </li>
          <li class="p-contact__item -required">
            <div class="p-contact__item__head">フリガナ</div>
            <div class="p-contact__item__body"><input type="text" placeholder=""></div>
          </li>
          <li class="p-contact__item -required">
            <div class="p-contact__item__head">メールアドレス</div>
            <div class="p-contact__item__body"><input type="email" name="email" placeholder=""></div>
          </li>
          <li class="p-contact__item -required">
            <div class="p-contact__item__head">メールアドレス（確認用）</div>
            <div class="p-contact__item__body"><input type="email" name="emailContact" placeholder=""></div>
          </li>
        </ul>
        <div class="p-contact__submit">
          <button class="c-button01 -green -center -small">
            <span class="submit js-hover">
              確認画面へ
              <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
            </span>
          </button>
        </div>
      </div>
    </form>
  </section>
</article>

<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>