@use "./variable"as v;
@use "./function"as f;
@use "./mixin"as m;

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: v.$font_color;
  font-family: v.$base_font;
  -webkit-text-size-adjust: 100%;
  font-size: f.smooth_font(15px, 18px);
  font-feature-settings: 'palt';
  text-indent: f.smooth_font(0px, 0px);
  letter-spacing: 0.05em;
  line-height: 180%;
}

#page {
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

img {
  vertical-align: bottom;
  height: auto;
  max-width: 100%;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  vertical-align: top;
}

svg {
  path {
    will-change: auto;
  }
}
.js-svg {
  width: 1em;
  height: 1em;
  @at-root img#{&} {
    opacity: 0;
  }

  @at-root svg#{&} {
    opacity: 1;
  }
}

.js-anim_elm {
  &.-fade{
    position: relative;
    display: block;
    &::after{
      content: "";
      position: absolute;
      bottom:  -100%;
      right: -70%;
      transform: skew(-45deg);
      width: 280%;
      height: 280%;
      background: linear-gradient(90deg, #fff 80%,rgba(255, 250, 252, 0.7) 85%,rgba(255, 250, 252, 0.3) 95%,transparent); 
    }
    &.is-act::after {
      bottom: -100%;
      right: 350%;
      transition: all 1.2s cubic-bezier(.645, .045, .355, 1);
    }
  }
  &.-blur{
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.2);
    transform: translateX(-20px);
    transition: all 0.7s ease;
    @for $i from 0 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 300}ms;
      }
    }
    &.-blur_bottom{
      transform: translateY(20px);
    }
    &.is-act {
      opacity: 1;
      filter: blur(0);
      transform: scale(1) translate(0);
    }
  }
  &.-blur-text{
    span{
      opacity: 0;
      filter: blur(10px);
      transform: scale(1.2);
      transform: translateX(-20px);
      transition: all 0.7s ease;
      @for $i from 0 through 100 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * 70}ms;
        }
      }
    }
    &.is-act {
      span{
        opacity: 1;
        filter: blur(0);
        transform: scale(1) translateX(0);
      }
    }
  }
  &.-scale{
    transform: scale(1.1);
    transition: all 2s ;
    &.is-act {
      transform: scale(1);
    }
  }
  &.-order-fade{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s ;
    @for $i from 0 through 100 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 200}ms;
      }
    }
    &.is-act {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.-base {
    transition: v.$fade-dur * 3 transform, v.$fade-dur * 3 opacity;
    transform: translateY(40px);
    opacity: 0;
    &.-delay01 {
      transition-delay: v.$fade-dur;
    }
    @include m.mq-md {
      transform: translateY(35px);
    }
    @include m.mq-tab {
      transform: translateY(30px);
    }
    @include m.mq-sp {
      transform: translateY(25px);
    }
    @include m.mq-spmin {
      transform: translateY(20px);
    }

    &.is-act {
      opacity: 1;
      transform: translateY(0);
      @include m.mq-md {
        transform: translateY(0);
      }
      @include m.mq-tab {
        transform: translateY(0);
      }
      @include m.mq-sp {
        transform: translateY(0);
      }
      @include m.mq-spmin {
        transform: translateY(0);
      }
    }
  }
}

/*----------------------------------------------------
	form要素
--------------------------------------------------- */

input,
textarea {
  padding: 5px 7px;
  border-radius: 2px;
  margin: 0;
  border: none;
  background-color: #fff;
  border: 1px solid #a7a6aa;
}

input[type='text'],
textarea {
  outline: none;
  border: 1px solid #aaa;
  transition: all 0.3s ease;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 7px #52a8ec;
  border: 1px solid #52a8ec;
}
