@use './function'as f;
@use './mixin'as m;
@use './variable'as v;

%common-heading-style {
  font-size: f.smooth_font(20px, 30px);

  @include m.mq-sp {
    font-size: f.smooth_font(16px, 24px);
  }
}

%type-text-style {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid v.$border_color;
  // background-color: v.$cream-color;
  &::placeholder{
    color: #999999;
  }
}


%title-style{
  letter-spacing: 0.1em;
  line-height: 1.4;
}

%text-style {
  letter-spacing: 0.1em;
  line-height: 2;
}

%post-style {
  color: v.$font_color;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 2.4;
  font-feature-settings: normal;
  @include m.mq-max {
    font-size: f.smooth_font(13px, 15px);
  }
  @include m.mq-sp {
    line-height: 1.7;
  }
  > * {
    margin-bottom: 1.5em;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    > * {
      margin-bottom: 1em;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    letter-spacing: 0.15em;
    line-height: 1.4;
    font-feature-settings: 'palt';
    margin-top: 2.5em;
    color: v.$font_color;
  }
  h2 {
    padding-top: 35px;
    font-size: 2.6rem;
    @include m.mq-max {
      padding-top: f.smooth_size(20px, 35px);
      font-size: f.smooth_font(20px, 26px);
    }
  }
  h3 {
    padding-left: 10px;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0.08em;
    border-left: 2px solid v.$main_color;
    .-blue &{
      border-color: v.$blue_color;
    }
    @include m.mq-max {
      font-size: f.smooth_font(20px, 24px);
    }
  }
  h4 {
    font-weight: bold;
    font-size: 1.8rem;
    @include m.mq-max {
      font-size: f.smooth_font(16px, 18px);
    }
  }
  h5 {
    color: v.$accent_color;
    line-height: 1.8;
  }
  ul{
    li{
      margin-bottom: .5em;
      position: relative;
      padding-left: 1em;
      &::before{
        content: '';
        width: 6px;
        height: 2px;
        background: v.$main_color;
        position: absolute;
        left: 0;
        top: 1em;
        .-blue &{
          background: v.$blue_color;
        }
      }
    }
  }
  > * {
    margin-bottom: 1.5em;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}