// 画像のパス
$img_path: '../../img/';
$img_path2: '../img/';

// ベースフォント
$base_font: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans JP', 'BIZ UDPGothic', Meiryo, 'Helvetica Neue', Arial, sans-serif;
$min_font: '游明朝', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HG明朝E', 'MS P明朝', 'MS 明朝', serif;
$zen_font: 'Zen Maru Gothic', sans-serif;
$open_font: 'Open Sans', sans-serif;

$main_color: #40A784;
$main_color_light: #788782;
$main_color_darker:#228966;
$sub_color: #D9EDE6;
$accent_color: #f00;
$font_color: #1F372F;
$border_color: #D5D8D7;
$white_color: #fff;
$bg_color: #F9F8F4;
$bg_blue_color: #F4FDFF;
$blue_color: #4093A7;
$blue_color_darler: #347686;


$unionnet-min: 375px;
$unionnet-max: 1600px;

//ベース幅
$base_width_max: 1100px;
$base_width_min: 375px;

//ベースパディング
$base_padding_max: 40px;
$base_padding_min: 15px;

//イージング用
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
// In
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
// Out
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$screen-min: 374px;
$screen-spmin: 567px;
$screen-sp: 767px;
$screen-tab: 1023px;
$screen-md: 1299px;
$screen-max: 1599px;

$fade-dur: 0.4s;

$z-header: 8000;
$z-drawer: 9000;
$z-drawer-button: 8500;