<% const myData = {rPath: '../', title: 'よくあるご質問', desc:'', page:'faq'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Q&A' }) %>

<article class="p-faq js-anim_elm -base">
  <div class="c-container">
    <div class="p-faq__list js-anim_elm -base">
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります質問が入ります質問が入ります質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
      <dl class="p-faq__list__item">
        <dt class="p-faq__button js-accordion-trigger">
          質問が入ります質問が入ります
        </dt>
        <dd class="p-faq__modal"><span class="answer"></span>返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります返答が入ります</dd>
      </dl>
    </div>
    <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
  </div>
</article>
<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>