<% const myData = {rPath: '../', title: '会員一覧', desc:'', page:'member'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head01`, {myData: myData, subtitle: 'Member', src: 'member_kv' }) %>

<article class="p-member js-anim_elm -base">
  <div class="c-container">
    <%- include(myData.rPath + `_templates/_search02`, {myData: myData}) -%>
    <ul class="p-member__list">
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_02.png" srcset="<%= myData.rPath %>img/member/img_02.png 1x,<%= myData.rPath %>img/member/img_02@2x.png 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>member/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
      <li class="item js-anim_elm -order-fade">
        <a class="js-hover" href="<%= myData.rPath %>members/single">
          <div class="item__img">
            <img src="<%= myData.rPath %>img/member/img_01.jpg" srcset="<%= myData.rPath %>img/member/img_01.jpg 1x,<%= myData.rPath %>img/member/img_01@2x.jpg 2x" alt="">
          </div>
          <p class="item__text c-text02"><i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>会社名が入ります</p>
          <ul class="item__tag">
            <li>#大阪府</li>
          </ul>
        </a>
      </li>
    </ul>
    <%- include(myData.rPath + `_templates/_pagenavi`, {myData: myData}) -%>
  </div>
</article>
<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>