<% const myData = {rPath: '../../', title: 'セミナー・研修', desc:'', page:'seminar'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'Seminar / Training' }) %>

<article class="p-seminar_single c-seminar_single js-anim_elm -base">
  <div class="c-container c-seminar_single__container">
    <section class="c-seminar_single__content">
      <div class="c-seminar_single__head">
        <h2 class="c-seminar_single__head__title">セミナータイトルがはいります。</h2>
        <time class="c-seminar_single__head__time">2021年12月17日(金) 16:00〜18:00</time>
      </div>
      <div class="c-seminar_single__post">
        <figure>
          <img src="<%- myData.rPath + 'img/seminar/img_01_lg.jpg' %>" srcset="<%- myData.rPath + 'img/seminar/img_01_lg.jpg' %> 1x, <%- myData.rPath + 'img/seminar/img_01_lg@2x.jpg' %> 2x" alt="">
        </figure>
        <p class="c-text01">概要が入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。サンプルテキストが入ります。</p>
        <div class="c-seminar_single__post__info">
          <dl class="info-item">
            <dt class="info-item__title">受講区分</dt>
            <dd class="info-item__content">会場、オンライン</dd>
          </dl>
          <dl class="info-item">
            <dt class="info-item__title">開催日時</dt>
            <dd class="info-item__content">
              <time>2021年12月17日(金) 16:00〜18:00</time>
            </dd>
          </dl>
          <dl class="info-item">
            <dt class="info-item__title">講師</dt>
            <dd class="info-item__content">
              <p>EY新日本有限責任監査法人<br>パートナー：喜多 和人氏<br>アソシエートパートナー：神崎 有吾氏</p>
              <p>喜多 和人氏</p>
                <dl>
                  <dt>経歴：</dt>
                  <dd>外資市警投資銀行を経て現職。国内外の金融機関向けの会計監査及び財務会計アドバイザーリー業務に長年従事。</dd>
                </dl>
                <dl>
                  <dt>資格：</dt>
                  <dd>公認会計士</dd>
                </dl>
            </dd>
          </dl>
          <dl class="info-item">
            <dt class="info-item__title">参加費</dt>
            <dd class="info-item__content">1名につき35,890円（資料代・消費税含む）</dd>
          </dl>
          <dl class="info-item">
            <dt class="info-item__title">会場受講場所</dt>
            <dd class="info-item__content">カンファレンスルーム（株式会社セミナーインフォ内）</dd>
          </dl>
          <dl class="info-item">
            <dt class="info-item__title">オンライン受講配信方法</dt>
            <dd class="info-item__content">
              <p><strong>V-CUBE配信【アーカイブ配信付き】</strong></p>
              <ul>
                <li>オンライン受講ガイドをダウンロードいただき受講の流れを必ずご確認ください。</li>
                <li>開催1営業日前の13時にメールで視聴URLとPDF資料のご案内をお送りします。<br>(ハンズオンセミナーなど補足事項欄に送付日の記載がある場合はそちらに準じます)</li>
                <li>ご使用PC、ネットワークにかかるセキュリティ制限がある場合、ご視聴ができない場合がございますので事前に社内ご担当部署等にご確認をお願い致します。</li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="c-button01 -green -center">
          <a class="js-hover" href="">
            ログインして申し込む
            <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/sign-in-alt-light.svg" alt=""></i>
          </a>
        </div>
      </div>
      
    </section>
    <section class="c-seminar_single__side">
      <h2 class="c-seminar_single__side__title">おすすめのセミナー・研修</h2>
      <ul class="c-seminar_single__side__list">
        <% for (var i = 0; i < 4; i++) { %>
        <%- include(myData.rPath + '_templates/_itemSeminar01', {myData: myData}) %>
        <% } %>
      </ul>
    </section>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>