<% const myData = {rPath: '../../../', title: 'お知らせ・よろず相談', desc:'', page:'news',color:'-blue'} %>
<%- include(myData.rPath + `_templates/_header_mypage`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_lower-head02`, {myData: myData, subtitle: 'News / Q&A' }) %>

<article class="p-news_single js-anim_elm -base">
  <div class="c-container -small">
    <div class="c-post">
      <div class="c-post_head">
        <h1>HPをオープンしました。</h1>
        <div class="c-post_head__info">
          <time datetime="2021.11.08" class="c-text01">2021.11.08</time>
          <span class="cat">お知らせ</span>
        </div>
      </div>
      <div class="c-post_body">
        <h2>h2見出しがはいります</h2>
        <h3>h3見出しがはいります</h3>
        <h4>h4見出しがはいります</h3>
        <h5>h5見出しがはいります</h3>
        <h6>h6見出しがはいります</h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
        <ul>
          <li>サンプルテキストが入ります。</li>
          <li>サンプルテキストが入ります。</li>
          <li>サンプルテキストが入ります。</li>
        </ul>
      </div>
      <div class="c-button01 -blue -small">
        <a class="js-hover" href="">
          一覧へ
          <i class="ico"><img class="js-svg" src="<%= myData.rPath %>img/common/ico/chevron-circle-right-light.svg" alt=""></i>
        </a>
      </div>
    </div>
  </div>
</article>

<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>