<% const myData = {rPath: '../', title: '入会希望の方', desc:'', page:'join-us'} %>
<%- include(myData.rPath + `_templates/_header`, {myData: myData}) -%>

<%- include(myData.rPath + `_templates/_lower-head01`, {myData: myData, subtitle: 'Join us', src: 'join_us_kv' }) %>

<section class="p-join-us_info">
  <div class="c-container">
    <h2 class="c-title06 js-anim_elm -base">入会のご案内</h2>
    <p class="p-join-us_info__text c-text01 js-anim_elm -base">会員に加え、賛助企業の皆様によって支えられています。<br>
      当会の目的は、企業主導型保育所の健全な存続と発展を通じて、保育所保育指針に則り子どもの最善の利益を確保し、子育てに不自由しない社会を創造することです。</p>
    <h3 class="c-title07 c-text-center js-anim_elm -base">
      <span>企業主導型保育の果たすべき役割</span>
    </h3>
    <ul class="p-join-us_info__list">
      <li class="p-join-us_info__list__item js-anim_elm -order-fade">
        <div>
          <h3 class="item__title">
            <span class="title">健全な保育</span>
          </h3>
          <p class="c-text-center c-text01">児童の最善の利益を守る</p>
        </div>
      </li>
      <li class="p-join-us_info__list__item js-anim_elm -order-fade">
        <div>
          <h3 class="item__title">
            <span class="title">健全な経営</span>
          </h3>
          <p class="c-text-center c-text01">健全な保育の基盤</p>
        </div>
      </li>
      <li class="p-join-us_info__list__item js-anim_elm -order-fade">
        <div>
          <h3 class="item__title">
            <span class="title">独自性と多様性</span>
          </h3>
          <p class="c-text-center c-text01">企業特性・自由度の発揮</p>
        </div>
      </li>
    </ul>
    <p class="c-text03 c-font-bold c-text-center js-anim_elm -base">これらを共有し、協議会はこれを支援いたします。</p>
  </div>
</section>
<section class="p-join-us_flow js-anim_elm -base">
  <div class="c-container">
    <h2 class="c-title06">入会の流れ</h2>
    <ul class="p-join-us_flow__list">
      <li class="p-join-us_flow__list__item js-anim_elm -base">
        <div class="img">
          <img src="<%= myData.rPath %>img/joinus/flow_img01.png" srcset="<%= myData.rPath %>img/joinus/flow_img01.png 1x, <%= myData.rPath %>img/joinus/flow_img01@2x.png 2x" alt="">
        </div>
        <div class="detail">
          <h3 class="title">
            <span class="number">01</span>
            <span class="text">お問い合わせフォームより入会希望と送信ください。</span>
          </h3>
        </div>
      </li>
      <li class="p-join-us_flow__list__item js-anim_elm -base">
        <div class="img">
          <img src="<%= myData.rPath %>img/joinus/flow_img02.png" srcset="<%= myData.rPath %>img/joinus/flow_img02.png 1x, <%= myData.rPath %>img/joinus/flow_img02@2x.png 2x" alt="">
        </div>
        <div class="detail">
          <h3 class="title">
            <span class="number">02</span>
            <span class="text">協会から連絡し、説明に伺います。</span>
          </h3>
        </div>
      </li>
      <li class="p-join-us_flow__list__item js-anim_elm -base">
        <div class="img">
          <img src="<%= myData.rPath %>img/joinus/flow_img03.png" srcset="<%= myData.rPath %>img/joinus/flow_img03.png 1x, <%= myData.rPath %>img/joinus/flow_img03@2x.png 2x" alt="">
        </div>
        <div class="detail">
          <h3 class="title">
            <span class="number">03</span>
            <span class="text">必要書類の準備をお願いいたします。</span>
          </h3>
        </div>
      </li>
      <li class="p-join-us_flow__list__item js-anim_elm -base">
        <div class="img">
          <img src="<%= myData.rPath %>img/joinus/flow_img04.png" srcset="<%= myData.rPath %>img/joinus/flow_img04.png 1x, <%= myData.rPath %>img/joinus/flow_img04@2x.png 2x" alt="">
        </div>
        <div class="detail">
          <h3 class="title">
            <span class="number">04</span>
            <span class="text">ご提出いただき、協会にて審査を行います。</span>
          </h3>
        </div>
      </li>
      <li class="p-join-us_flow__list__item js-anim_elm -base">
        <div class="img">
          <img src="<%= myData.rPath %>img/joinus/flow_img05.png" srcset="<%= myData.rPath %>img/joinus/flow_img05.png 1x, <%= myData.rPath %>img/joinus/flow_img05@2x.png 2x" alt="">
        </div>
        <div class="detail">
          <h3 class="title">
            <span class="number">05</span>
            <span class="text">理事会の承認後、入会。</span>
          </h3>
          <p class="note">月会費：1,000円</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<%- include(myData.rPath + `_templates/_footer_head`, {myData: myData}) -%>
<%- include(myData.rPath + `_templates/_footer`, {myData: myData}) -%>