@use '../foundation'as f;

// text-align: center
.u-center {
  text-align: center;
}

// img Centering
.u-block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// text-align: right
.u-right {
  text-align: right;
}

.u-none {
  display: none;
}

.u-visible_sp {
  display: none;
}

.u-visible_tab {
  display: none;
}

.u-visible_pc {
  display: block;
}

// 余白調整用のクラス
@for $i from 0 through 20 {
  .u-mt#{$i * 5} {
    margin-top: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-mb#{$i * 5} {
    margin-bottom: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-ml#{$i * 5} {
    margin-left: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-mr#{$i * 5} {
    margin-right: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-pt#{$i * 5} {
    padding-top: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-pb#{$i * 5} {
    padding-bottom: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-pl#{$i * 5} {
    padding-left: f.smooth_size(5px * $i, 10px * $i) !important;
  }

  .u-pr#{$i * 5} {
    padding-right: f.smooth_size(5px * $i, 10px * $i) !important;
  }
}

/* スマホ
-------------------------------------------------- */
@include f.mq-tab {
  .u-visible_tab {
    display: block;
  }

  .u-visible_pc {
    display: none;
  }
}


@include f.mq-sp {
  .u-visible_sp {
    display: block;
  }

  .u-visible_pc {
    display: none;
  }
}
