@use '../../foundation'as f;

.p-about-us_message{
  background: f.$bg_color;
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__content{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,50px);
    }
    @include f.mq-tab{
      display: block;
    }
  }
  &__text{
    width: 50%;
    margin-right: 40px;
    @include f.mq-tab{
      width: 100%;
      margin-right: 0;
    }
  }
  &__pic{
    width: 50%;
    @include f.mq-tab{
      width: 100%;
      margin-bottom: f.smooth_size(20px,40px);
    }
    img{
      width: 100%;
    }
    &__name{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 30px;
      @include f.mq-max{
        margin-top: f.smooth_size(20px,30px);
      }
      .name{
        line-height: 1;
        margin-left: .5em;
        .js-svg{
          width: 176px;
          height: 36px;
          @include f.mq-max{
            width: f.smooth_size(140px, 176px);
            height: f.smooth_size(20px, 36px);
          }
          @include f.mq-max{
            width: f.smooth_size(130px, 140px);
            height: f.smooth_size(30px, 50px);
          }
        }
      }
    }
  }
}

.p-about-us_philosophy {
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__text{
    margin-top: 55px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,55px);
    }
  }
  &__list{
    display: flex;
    margin-top: 50px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,50px);
    }
    @include f.mq-sp{
      display: block;
    }
    &__item{
      margin-right: 2%;
      width: 32%;
      background: f.$bg_color;
      padding: 40px 30px;
      border-radius: 10px;
      @include f.mq-max{
        padding: f.smooth_size(20px,40px) f.smooth_size(15px,30px);
      }
      @include f.mq-sp{
        width: 100%;
        margin-right: 0;
        margin-top: 1.5em;
      }
      .item{
        &__title{
          margin-bottom: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
          .number{
            font-family: f.$open_font;
            font-size: 3.6rem;
            margin-right: .5em;
            @include f.mq-max{
              font-size: f.smooth_size(28px, 36px);
            }
          }
          .title{
            padding: .2em .5em;
            background: f.$main_color;
            border-radius: 5px;
            font-size: 2rem;
            font-weight: bold;
            color: f.$white_color;
            @include f.mq-max{
              font-size: f.smooth_font(18px,20px);
            }
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.p-about-us_job {
  background: f.$bg_color;
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__text{
    margin-top: 55px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,55px);
    }
  }
  &__list{
    display: flex;
    margin-top: 50px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,50px);
    }
    @include f.mq-sp{
      display: block;
    }
    &__item{
      margin-right: 2%;
      width: 32%;
      background: f.$white_color;
      padding: 40px 30px;
      border-radius: 10px;
      @include f.mq-max{
        padding: f.smooth_size(20px,40px) f.smooth_size(15px,30px);
      }
      @include f.mq-sp{
        margin-right: 0;
        width: 100%;
        margin-top: 1.5em;
      }
      .item{
        &__title{
          margin-bottom: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
          .number{
            font-family: f.$open_font;
            font-size: 3.6rem;
            margin-right: .5em;
            @include f.mq-max{
              font-size: f.smooth_size(28px, 36px);
            }
          }
          .title{
            padding: .2em .5em;
            background: f.$main_color;
            border-radius: 5px;
            font-size: 2rem;
            font-weight: bold;
            color: f.$white_color;
            @include f.mq-max{
              font-size: f.smooth_font(18px,20px);
            }
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.p-about-us_info {
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__list{
    margin-top: 50px;
    @include f.mq-sp{
      margin-top: f.smooth_size(30px,50px);
    }
    &__item{
      display: flex;
      width: 100%;
      border-bottom: 1px solid f.$border_color;
      @include f.mq-sp{
        display: block;
      }
      dt{
        min-width: 150px;
        color: f.$main_color;
        padding: .7em 0;
        font-weight: normal;
        @include f.mq-sp{
          min-width: 100%;
        }
      }
      dd{
        width: 100%;
        padding: .7em 0;
        @include f.mq-sp{
          padding-top: 0;
        }
      }
    }
  }
}