@use '../../foundation'as f;

.p-contact{
  &_body{
    background: f.$bg_color;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    .-blue &{
      background: none;
    }
    @include f.mq-tab{
      margin-right: 0;
    }
    @include f.mq-sp{
      margin-left: 0;
    }
  }
  &__flow{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    @include f.mq-max{
      margin-bottom: f.smooth_size(40px,70px);
    }
    &__item{
      padding-right: 45px;
      &.-current{
        .number{
          color: f.$white_color;
          background: f.$main_color;
          border-color: f.$main_color;
          .-blue &{
            background: f.$blue_color;
            border-color: f.$blue_color;
          }
        }
      }
      &:last-child{
        padding-right: 0;
        .number{
          &::after{
            content: none;
          }
        }
      }
      .number{
        width: 58px;
        height: 58px;
        border-radius: 10px;
        font-family: f.$open_font;
        font-weight: bold;
        color: f.$border_color;
        background: f.$white_color;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid f.$border_color;
        position: relative;
        z-index: 1;
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -47px;
          height: 2px;
          width: 45px;
          background: f.$border_color;
        }
      }
      .text{
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: f.$main_color_light;
        @include f.mq-max{
          font-size: f.smooth_font(12px,14px);
        }
      }
    }
  }
  &__list{
    margin-top: 60px;
    padding-bottom: 70px;
    border-bottom: 1px solid f.$border_color;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,40px);
      padding-bottom:  f.smooth_size(40px,70px);
    }
  }
  &__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    @include f.mq-sp{
      display: block;
    }
    &__head{
      max-width: 30%;
      width: 100%;
      display: flex;
      align-items: center;
      @include f.mq-sp{
        max-width: 100%;
      }
    }
    &__body {
      width: 100%;
      max-width: 70%;
      @include f.mq-sp {
        max-width: 100%;
        margin-top: 0.5em;
      }
      .child_check {
        margin-bottom: 30px;
        @include f.mq-max {
          margin-bottom: f.smooth_size(15px, 30px);
        }
        &:last-child {
          margin-bottom: 0;
        }
        dt {
          font-size: 1.4rem;
          font-weight: 500;
          color: f.$font_color;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__submit{
    margin-top: 50px;
    text-align: center;
  }
  &__seminar{
    background: f.$bg_color;
    border-radius: 10px;
    padding: 30px 55px;
    box-sizing: border-box;
    overflow: hidden;
    &__heading{
      position: relative;
      font-family: f.$zen_font;
      font-size: 1.6rem;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -100%;
        height: 1px;
        width: 98%;
        background: f.$blue_color;
      }
      @include f.mq-max{
        font-size: f.smooth_font(14px,16px);
      }
    }
    &__title{
      font-size: 2.2rem;
      margin-top: 1em;
      @include f.mq-max{
        font-size: f.smooth_font(18px,22px);
      }
    }
    &__time{
      margin-top: 1.5em;
      font-size: 1.4rem;
      color: f.$main_color_light;
      @include f.mq-max{
        font-size: f.smooth_font(12px,14px);
      }
    }
  }
}