@use '../../foundation'as f;

.p-faq {
  margin-top: 70px;
  padding-bottom: 120px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-bottom:  f.smooth_size(60px ,120px);
  }
  &__button{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding: 1em 60px;
    font-size: 2rem;
    background: f.$bg_color;
    border-radius: 5px;
    &::before{
      content:'Q';
      margin-right: 30px;
      font-size: 3.5rem;
      font-family: f.$open_font;
      color: f.$main_color;
      line-height: 1;
      position: absolute;
      left: .5em;
      top: .5em;
      @include f.mq-max{
        font-size: f.smooth_font(26px, 35px);
        margin-right: f.smooth_size(15px , 30px);
      }
    }
    &::after{
      content: "";
      position: absolute;
      right: 25px;
      top: 45%;
      transition: all 0.2s ease-in-out;
      display: block;
      width: 10px;
      height: 10px;
      border-top: solid 3px f.$main_color;
      border-right: solid 3px f.$main_color;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &.is-opened{
      &::after{
        transform: rotate(-45deg);
        top: 47%;
      }
    }
    @include f.mq-max{
    }
  }
  &__modal{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 0.8s ease;
    margin-left: 55px;
    margin-right: 55px;
    padding-left: 50px;
    margin-bottom: 20px;
    @include f.mq-max{
      padding-left: f.smooth_size(30px , 50px);
    }
    &.is-opened {
      padding: 40px 0 0 55px;
      border-bottom: 1px solid f.$border_color;
      margin-bottom: 40px;
      @include f.mq-max{
        padding: f.smooth_size(20px ,40px) 0 0 f.smooth_size(30px , 50px);
      }
    }
    .answer::before{
      content:'A';
      margin-right: 30px;
      font-size: 3.5rem;
      font-family: f.$open_font;
      color: f.$font_color;
      position: absolute;
      left: 0;
      @include f.mq-max{
        font-size: f.smooth_font(26px, 35px);
        margin-right: f.smooth_size(15px , 30px);
      }
    }
  }
}