@use '../../foundation'as f;

/* トップページ */
.p-index_kv {
  position: relative;
  height: 100vh;
  margin-left: 20px;
  margin-right: 90px;
  margin-bottom: 100px;
  @include f.mq-max{
    margin-bottom: f.smooth_size(50px ,100px);
  }
  @include f.mq-tab{
    margin-right: 20px;
    height: 90vh;
  }
  @include f.mq-sp{
    margin-right: 15px;
    margin-left: 15px;
    
  }
  &__copy{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    @include f.mq-tab{
      top: 40%;
    }
    @include f.mq-sp{
      top: 50%;
    }
    &01{
      margin-top: .2em;
      writing-mode: vertical-rl;
      line-height: 1.7;
      font-family: f.$zen_font;
      font-size: 3.2rem;
      letter-spacing: .4em;
      @include f.mq-max{
        font-size: f.smooth_font(26px ,32px);
      }
      @include f.mq-sp{
        font-size: f.smooth_font(18px ,23px);
      }
      .is-start &{
        span{
          display: block;
          opacity: 0;
          filter: blur(10px);
          transform: scale(1.2);
          transform: translateX(-20px);
          transition: all 0.7s ease;
          @for $i from 0 through 4 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i * 300}ms;
            }
          }
        }
      }
      .is-loaded & {
        span{
          opacity: 1;
          filter: blur(0);
          transform: scale(1) translateX(0);
        }
      }
    }
    &02{
      font-family: f.$zen_font;
      font-size: 1.4rem;
      writing-mode: vertical-rl;
      color: f.$main_color;
      margin-left: .5em;
      @include f.mq-max{
        font-size: f.smooth_font(12px, 14px);
      }
      @include f.mq-sp{
        font-size: f.smooth_font(8px ,10px);
      }
      .is-start &{
        opacity: 0;
        filter: blur(10px);
        transform: scale(1.2);
        transform: translateX(-20px);
        transition: all 0.7s ease;
      }
      .is-loaded & {
        opacity: 1;
        filter: blur(0);
        transform: scale(1) translateX(0);
      }
    }
  }
  &__inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    border-radius: 15px;
    &::after{
      content: "";
      position: absolute;
      bottom:  -170%;
      right: -100%;
      transform: skew(-45deg);
      width: 380%;
      height: 380%;
      background: linear-gradient(90deg, #fff 80%,rgba(237, 250, 241, 0.7) 85%,rgba(237, 250, 241, 0.3) 95%,transparent); 
      .is-loaded & {
        bottom: -130%;
        right: 350%;
        transition: all 2s cubic-bezier(.645, .045, .355, 1);
        transition-delay: 1.3s;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: kv 15s ease alternate;
    }
  }
}

.p-index_about {
  margin-right: 90px;
  position: relative;
  @include f.mq-tab{
    margin-right: 20px;
  }
  @include f.mq-sp{
    margin-right: 15px;
  }
  &__container{
    position: relative;
  }
  &__pic{
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @include f.mq-sp{
      position: relative;
      width: 110%;
      margin-left: -10%;
      margin-top: 30px;
    }
    img{
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      object-position: top right;
    }
  }
  &__inner{
    position: relative;
    max-width: 475px;
    width: 50%;
    margin-left: auto;
    padding: 90px 0 90px 90px;
    @include f.mq-max{
      padding: f.smooth_size(45px, 90px) 0 f.smooth_size(45px, 90px) f.smooth_size(45px, 90px);
    }
    @include f.mq-md{
      padding: f.smooth_size(30px, 60px) 0 f.smooth_size(30px, 60px) f.smooth_size(30px, 60px);
    }
    @include f.mq-sp{
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  &__title{
    margin-bottom: 75px;
    @include f.mq-max{
      margin-bottom: f.smooth_size(30px, 75px);
    }
  }
  &__lead{
    margin-bottom: 1em;
  }
  &__text{
    margin-bottom: 60px;
    @include f.mq-max{
      margin-bottom: f.smooth_size(30px, 60px);
    }
    @include f.mq-sp{
      margin-bottom: f.smooth_size(20px, 30px);
    }
  }
}

.p-index_service{
  padding: 200px 0 120px;
  background: f.$bg_color;
  margin-left: 20px;
  margin-right: 90px;
  border-radius: 10px;
  margin-top: -120px;
  @include f.mq-max{
    margin-top: f.smooth_size(-60px, -120px);
    padding: f.smooth_size(100px, 200px) 0 f.smooth_size(60px, 120px);
  }
  @include f.mq-tab{
    margin-right: 20px;
  }
  @include f.mq-sp{
    margin-top: -115%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 130%;
  }
  &__button{
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    width: 800px;
    @include f.mq-max{
      width:f.smooth_size(600px, 800px);
      margin: f.smooth_size(30px, 60px) auto 0;
    }
    @include f.mq-tab{
      width: 100%;
      max-width: f.smooth_size(550px, 600px);
    }
    @include f.mq-sp{
      display: block;
      .c-button01{
        &:first-child{
          margin-bottom: 15px;
        }
      }
    }
  }
  &__inner{
    margin-top: 50px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px, 50px);
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    @include f.mq-sp{
      display: block;
    }
    .item{
      width: 31%;
      justify-content: space-between;
      @include f.mq-sp{
        width: 100%;
        margin-top: 30px;
      }
      &__head{
        position: relative;
        background: f.$white_color;
        height: 230px;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 300px;
        @include f.mq-max{
          height: f.smooth_size(115px, 230px);
          margin-bottom: f.smooth_size(25px, 35px);
          border-radius: f.smooth_size(150px, 300px) ;
        }
        @include f.mq-sp{
          height: f.smooth_size(210px, 250px);
        }
        &__text{
          position: absolute;
          top: 0;
          right: 20px;
          font-family: f.$open_font;
          font-size: 1.4rem;
          writing-mode: vertical-rl;
          color: f.$main_color_light;
          @include f.mq-max{
            font-size: f.smooth_font(12px , 14px);
          }
          span{
            background: f.$sub_color;
            padding: .5em;
            border-radius: 9999px;
          }
        }
        &__img{
          svg{
            width: auto;
            height: auto;
          }
        }
      }
      &__lead{
        margin-bottom: .5em;
      }
    }
  }
}

.p-index_support-company{
  padding-top: 140px;
  // padding-bottom: 75px;
  margin-bottom: 160px;
  position: relative;
  @include f.mq-max{
    padding-top: f.smooth_size(70px ,140px);
    // padding-bottom: f.smooth_size(40px , 75px);
    margin-bottom: f.smooth_size(80px , 160px);
  }
  // &::before{
  //   content: '';
  //   position: absolute;
  //   width: 70%;
  //   height: 45%;
  //   right: 0;
  //   bottom: 0;
  //   border-radius: 10px;
  //   background: f.$sub_color;
  // }
  &__bnr{
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    a{
      display: flex;
      width: 100%;
      height: 100%;
      @include f.mq-sp{
        display: block;
      }
      .image{
        width: 50%;
        overflow: hidden;
        img{
          transition: f.$fade-dur;
        }
        @include f.mq-sp{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
      &:hover{
        .image{
          img{
            transform: scale(1.1);
          }
        }
      }
      .button{
        width: 50%;
        padding: 2em;
        justify-content: space-between;
        background: f.$main_color;
        display: flex;
        align-items: center;
        color: f.$white_color;
        @include f.mq-sp{
          width: 100%;
        }
        .ico{
          svg{
            width: 1.2em;
            height: 1.2em;
          }
        }
        .title{
          &_sub{
            font-size: 1.2rem;
            font-family: f.$open_font;
          }
          &_main{
            font-size: 2rem;
            font-family: f.$zen_font;
          }
        }
      }
    }
  }
  &__slider{
    position: relative;
    &__head{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__button{
      display: flex;
    }
    .swiper-button-prev{
      margin-right: .5em;
    }
    .swiper-button-prev,
    .swiper-button-next{
      width: 50px;
      height: 50px;
      border: 2px solid f.$main_color;
      border-radius: 9999px;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      line-height: 1;
      transition: f.$fade-dur;
      outline: none;
      @include f.mq-max{
        width: f.smooth_size(30px , 50px);
        height: f.smooth_size(30px , 50px);
      }
      @include f.mq-sp{
        width: 45px;
        height: 45px;
      }
      &.is-hover{
        background: f.$main_color;
        .ico{
          color: f.$white_color;
        }
      }
      .ico{
        transition: f.$fade-dur;
        color: f.$main_color;
        width: 1.5em;
        height: 1.5em;
        svg{
          width: 100%;
          height: 100%;
        }
      }
    }
    &__list{
      margin-top: 60px;
      @include f.mq-max{
        margin-top: f.smooth_size(30px ,60px);
      }
      .item{
        a{
          display: block;
          &.is-hover{
            .item__img img{
              transform: scale(1.1);
            }
            .item__text{
              color: f.$main_color;
            }
          }
        }
        &__img{
          background: f.$white_color;
          width: 100%;
          box-sizing: border-box;
          padding:f.smooth_size(30px ,55px);
          height: f.smooth_size(150px ,300px);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
          @include f.mq-sp{
            height: f.smooth_size(280px ,350px);
          }
          img{
            width: 100%;
            transition: f.$fade-dur;
            object-fit: contain;
          }
        }
        &__text{
          margin-top: 1em;
          position: relative;
          padding-left: 1.5em;
          transition: f.$fade-dur;
          .ico{
            position: absolute;
            top: .1em;
            left: 0;
            color: f.$main_color;
          }
        }
        &__tag{
          display: flex;
          flex-wrap: wrap;
          li{
            color: f.$main_color;
            font-size: 1.4rem;
            margin-right: .5em;
            @include f.mq-max{
              font-size: f.smooth_font(12px,14px);
            }
          }
        }
      }
    }
  }
  &__button{
    margin-top: 60px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px ,60px);
    }
    a{
      margin: 0 auto;
    }
  }
}

.p-index_member{
  padding-top: 140px;
  padding-bottom: 75px;
  position: relative;
  @include f.mq-max{
    padding-top: f.smooth_size(70px ,140px);
    padding-bottom:  f.smooth_size(40px , 75px);
  }
  
  &::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 45%;
    left: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: f.$sub_color;
  }
  &__slider{
    position: relative;
    &__head{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__button{
      display: flex;
    }
    .swiper-button-prev{
      margin-right: .5em;
    }
    .swiper-button-prev,
    .swiper-button-next{
      width: 50px;
      height: 50px;
      border: 2px solid f.$main_color;
      border-radius: 9999px;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      line-height: 1;
      transition: f.$fade-dur;
      outline: none;
      @include f.mq-max{
        width: f.smooth_size(30px , 50px);
        height: f.smooth_size(30px , 50px);
      }
      @include f.mq-sp{
        width: 45px;
        height: 45px;
      }
      &.is-hover{
        background: f.$main_color;
        .ico{
          color: f.$white_color;
        }
      }
      .ico{
        transition: f.$fade-dur;
        color: f.$main_color;
        width: 1.5em;
        height: 1.5em;
        svg{
          width: 100%;
          height: 100%;
        }
      }
    }
    &__list{
      margin-top: 60px;
      @include f.mq-max{
        margin-top: f.smooth_size(30px ,60px);
      }
      .item{
        a{
          display: block;
          &.is-hover{
            .item__img img{
              transform: scale(1.1);
            }
            .item__text{
              color: f.$main_color;
            }
          }
        }
        &__img{
          width: 100%;
          height: f.smooth_size(110px ,220px);
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
          @include f.mq-sp{
            height: f.smooth_size(200px ,250px);
          }
          img{
            width: 100%;
            height: 100%;
            max-width: auto;
            object-fit: cover;
            transition: f.$fade-dur;
          }
        }
        &__text{
          margin-top: 1em;
          position: relative;
          padding-left: 1.5em;
          transition: f.$fade-dur;
          .ico{
            position: absolute;
            top: .1em;
            left: 0;
            color: f.$main_color;
          }
        }
        &__tag{
          display: flex;
          flex-wrap: wrap;
          li{
            color: f.$main_color;
            font-size: 1.4rem;
            margin-right: .5em;
            @include f.mq-max{
              font-size: f.smooth_font(12px,14px);
            }
          }
        }
      }
    }
  }
  &__button{
    margin-top: 60px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px ,60px);
    }
    a{
      margin: 0 auto;
    }
  }
}

.p-index_info{
  padding: 100px 0 120px;
  background: f.$bg_color;
  margin-left: 20px;
  margin-right: 90px;
  margin-bottom: 130px;
  border-radius: 10px;
  @include f.mq-max{
    padding: f.smooth_size(50px, 100px) 0 f.smooth_size(60px, 120px);
    margin-bottom: f.smooth_size(65px, 130px);
  }
  @include f.mq-tab{
    margin-right: 20px;
  }
  @include f.mq-sp{
    margin-right: 0;
    margin-left: 0;
  }
  &__head{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__container{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    @include f.mq-tab{
      display: block;
      padding: 0 f.smooth_size(50px , 100px);
    }
    @include f.mq-sp{
      padding: 0 15px;
    }
  }
}

.p-index_news,.p-index_seminar{
  width: 45%;
  @include f.mq-tab{
    width: 100%;
  }
  &__content{
    margin-top: 45px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px ,45px);
    }
    @include f.mq-sp{
      margin-bottom: f.smooth_size(30px ,40px);
    }
  }
}

.p-index_seminar{
  @include f.mq-tab{
    margin-top: f.smooth_size(50px ,100px);
  }
}
