@use '../../foundation'as f;

.p-join-us_info {
  background: f.$bg_color;
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__text{
    margin-top: 55px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,55px);
    }
  }
  .c-title07{
    margin-top: 60px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,60px);
    }
  }
  .c-text03{
    margin-top: 40px;
    @include f.mq-max{
      margin-top: f.smooth_size(20px,40px);
    }
  }
  &__list{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,50px);
    }
    @include f.mq-sp{
      display: block;
    }
    &__item{
      margin-right: 2%;
      width: 230px;
      height: 230px;
      background: f.$white_color;
      padding: 40px 30px;
      border-radius: 9999px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      @include f.mq-max{
        padding: f.smooth_size(20px,40px) f.smooth_size(10px,30px);
        width: f.smooth_size(200px,230px);
        height: f.smooth_size(200px,230px);
      }
      @include f.mq-sp{
        width: 100%;
        margin-top: 1.5em;
        padding: f.smooth_size(25px,50px);
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .item{
        &__title{
          margin-bottom: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
          .number{
            font-family: f.$open_font;
            font-size: 3.6rem;
            margin-right: .5em;
            @include f.mq-max{
              font-size: f.smooth_size(28px, 36px);
            }
          }
          .title{
            padding: .2em .5em;
            background: f.$main_color;
            border-radius: 5px;
            font-size: 2rem;
            font-weight: bold;
            color: f.$white_color;
            @include f.mq-max{
              font-size: f.smooth_font(14px,20px);
            }
          }
        }
      }
      &:last-child{
        margin-right: 0;
        @include f.mq-sp{
          margin-right: auto;
        }
      }
    }
  }
}
.p-join-us_flow {
  padding-top: 100px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(50px,100px);
    padding-bottom: f.smooth_size(50px ,100px);
  }
  &__list{
    margin-top: 55px;
    @include f.mq-max{
      margin-top: f.smooth_size(30px,55px);
    }
    &__item{
      background: f.$bg_color;
      display: flex;
      padding: 40px 55px;
      border-radius: 10px;
      margin-bottom: 40px;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 40px;
        background: f.$main_color;
        bottom: -40px;
      }
      &:last-child{
        &::after{
          content: none;
        }
      }
      @include f.mq-max{
        padding: f.smooth_size(20px,40px)  f.smooth_size(30px,55px);
      }
      @include f.mq-sp{
        flex-wrap: wrap;
        justify-content: center;
      }
      .img{
        width: 120px;
        height: 120px;
        margin-right: 55px;
        img{
          width: 100%;
        }
        @include f.mq-max{
          width: f.smooth_size(80px,120px);
          height: f.smooth_size(80px ,120px);
          margin-right: f.smooth_size(30px,55px);
        }
        @include f.mq-sp{
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
      .detail{
        @include f.mq-sp{
          width: 100%;
        }
        .title{
          .number{
            font-family: f.$open_font;
            font-size: 3.6rem;
            color: f.$main_color;
            font-weight: bold;
            display: block;
            margin-bottom: .3em;
            @include f.mq-max{
             font-size: f.smooth_font(24px,36px);
            }
            @include f.mq-sp{
              display: flex;
              justify-content: center;
            }
          }
          .text{
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: .2em;
            border-bottom: 1px solid f.$main_color;
            line-height: 1.7;
            @include f.mq-max{
              font-size: f.smooth_font(18px,20px);
            }
          }
        }
        .note{
          background: f.$main_color;
          border-radius: 5px;
          color: f.$white_color;
          font-weight: bold;
          padding: .2em .5em;
          display: inline-block;
          margin-top: .5em;
          font-size: 1.8rem;
          @include f.mq-max{
            font-size: f.smooth_font(16px, 18px);
          }
        }
      }
    }
  }
}
