@use '../../foundation'as f;

.p-login {
  background: f.$bg_color;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 20px;
  margin-right: 90px;
  @include f.mq-tab {
    margin-right: 0;
  }
  @include f.mq-sp {
    margin-left: 0;
  }
  &__content {
    margin-top: 90px;
    border-radius: 10px;
    overflow: hidden;
    @include f.mq-max {
      margin-top: f.smooth_size(60px, 90px);
    }
  }
  &__pic {
    background-image: url(#{f.$img_path}main/login.jpg);
    background-size: cover;
    background-position: center center;
    height: 250px;
    @include f.media_retina() {
      background-image: url(#{f.$img_path}main/login@2x.jpg);
    }
    @include f.mq-max {
      height: f.smooth_size(200px, 250px);
    }
  }
  &__inner {
    background: f.$white_color;
    padding: 70px 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include f.mq-max {
      padding: f.smooth_size(40px, 70px) f.smooth_size(100px, 170px);
    }
    @include f.mq-md {
      padding: f.smooth_size(25px, 50px) f.smooth_size(25px, 50px);
    }
    @include f.mq-sp {
      display: block;
    }
    &__input {
      width: 47%;
      @include f.mq-tab {
        width: 49%;
      }
      @include f.mq-sp {
        width: 100%;
      }
    }
    &__link {
      width: 47%;
      @include f.mq-sp {
        width: 100%;
        margin-top: 1em;
      }
      .button {
        margin-bottom: 0.5em;
      }
      .link {
        display: inline-block;
        font-size: 1.4rem;
        border-bottom: 1px solid;
        line-height: 1.4;
        transition: f.$fade-dur;
        &.is-hover {
          color: f.$main_color;
          border-color: f.$main_color;
        }
        @include f.mq-max {
          font-size: f.smooth_font(12px, 14px);
        }
      }
    }
  }
}

.p-login_form {
  input[type='text'],
  input[type='password'] {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    background: #f6f6f6;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    &::placeholder {
      color: #1f372f;
      opacity: 0.4;
    }
    &:focus {
      outline: none;
    }
  }
  .c-button01 {
    input[type='submit'] {
      width: 70%;
    }
  }
  .mwform-checkbox-field {
    display: inline-block;
    padding: 0;
    line-height: 1;
    margin-right: 30px;
    margin-bottom: 10px;
    @include f.mq-max {
      margin-right: f.smooth_size(10px, 30px);
      margin-bottom: f.smooth_size(5px, 10px);
    }
    input[type='checkbox'] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      display: inline-block;
      font-size: 0;
      & + .mwform-checkbox-field-text {
        position: relative;
        margin-top: 15px;
        line-height: 24px;
        font-weight: 400;
        cursor: pointer;
        @include f.mq-sp {
          line-height: 20px;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 3px;
          vertical-align: text-top;
          margin-right: 10px;
          transition: all 0.3s ease;
          background-color: #f6f6f6;
          border: 1px solid f.$border_color;
          @include f.mq-sp {
            width: 20px;
            height: 20px;
          }
        }
        &::after {
          border-bottom: 2px solid f.$main_color;
          border-left: 2px solid f.$main_color;
          content: '';
          display: block;
          width: 0.8em;
          height: 0.4em;
          left: 0.35em;
          margin-top: -0.35em;
          opacity: 0;
          position: absolute;
          top: 60%;
          transform: rotate(-45deg);
          transition: all 0.3s ease;
        }
      }
    }
    input[type='checkbox']:checked + .mwform-checkbox-field-text::after {
      opacity: 1;
    }
  }
}
