@use '../../foundation'as f;

.p-member{
  padding-bottom: 150px;
  margin-top: 70px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-bottom: f.smooth_size(70px , 150px);
  }
  &__list{
    margin-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid f.$border_color;
    @include f.mq-max{
      margin-top: f.smooth_size(30px ,60px);
      padding-bottom: f.smooth_size(25px ,50px);
    }
    .item{
      margin: 0 30px 30px 0;
	    width: calc(33.3333333% - 60px / 3);
      @include f.mq-sp{
        width: 48%;
        margin-right: 4%;
      }
      &:nth-child(3n){
        margin-right: 0;
        @include f.mq-sp{
          margin-right: 4%;
        }
      }
      &:nth-child(2n){
        @include f.mq-sp{
          margin-right: 0;
        }
      }
      a{
        width: 100%;
        display: block;
        &.is-hover{
          .item__img img{
            transform: scale(1.1);
          }
          .item__text{
            color: f.$main_color;
          }
        }
      }
      &__img{
        background: f.$bg_color;
        width: 100%;
        height: f.smooth_size(150px ,230px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
        @include f.mq-sp{
          height: f.smooth_size(150px ,250px);
        }
        img{
          width: 100%;
          height: 100%;
          transition: f.$fade-dur;
          object-fit: cover;
        }
      }
      &__text{
        margin-top: 1em;
        position: relative;
        padding-left: 1.5em;
        transition: f.$fade-dur;
        .ico{
          position: absolute;
          top: .1em;
          left: 0;
          color: f.$main_color;
        }
      }
      &__tag{
        display: flex;
        flex-wrap: wrap;
        li{
          color: f.$main_color;
          font-size: 1.4rem;
          margin-right: .5em;
          @include f.mq-max{
            font-size: f.smooth_font(12px,14px);
          }
        }
      }
    }
  }
}

.p-member_single{
  margin-top: 90px;
  padding-bottom: 150px;
  @include f.mq-max{
    padding-bottom: f.smooth_size(70px , 150px);
  }
  &__container{
    position: relative;
  }
  &__head{
    margin-bottom: f.smooth_size(45px, 90px);
    &__inner{
      max-width: 500px;
      width: 50%;
      padding: 90px 90px 90px 0px;
      @include f.mq-max{
        padding: f.smooth_size(45px, 90px) f.smooth_size(45px, 90px) f.smooth_size(45px, 90px) 0 ;
      }
      @include f.mq-tab{
        width: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
    &__map{
      margin-top: 20px;
      @include f.mq-max{
        margin-top: f.smooth_size(10px,20px);
      }
    }
    &__title{
      font-family: f.$zen_font;
      font-size: 3rem;
      margin-bottom: 1em;
      @include f.mq-max{
        font-size: f.smooth_font(24px,30px);
      }
    }
    &__info{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      @include f.mq-max{
        margin-bottom: f.smooth_size(15px, 30px);
      }
      .title{
        color: f.$main_color;
        width: 100px;
        font-weight: normal;
        @include f.mq-max{
          width: f.smooth_size(80px, 100px);
        }
      }
      .text{
        width: calc(100% - 110px);
      }
    }
    &__pic{
      overflow: hidden;
      display: block;
      position: absolute;
      max-height: 500px;
      top: 0;
      right: 0;
      width: 50%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
      @include f.mq-max{
        max-height: f.smooth_size(400px ,500px);
      }
      @include f.mq-tab{
        position: relative;
        width: 100%;
        margin-top: 30px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top right;
      }
    }
  }
  &__other{
    padding-top: 90px;
    @include f.mq-max{
      padding-top: f.smooth_size(60px, 90px);
    }
    .p-member__list{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .c-button01{
    margin-top: 50px;
    @include f.mq-max{
      margin-top: f.smooth_size(25px,50px);
    }
  }
}