@use '../../foundation'as f;

.p-mypage_news{
  padding: 100px 0;
  margin-right: 90px;
  @include f.mq-max{
    padding: f.smooth_size(50px, 100px) 0;
  }
  @include f.mq-tab{
    margin-right: 0;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    @include f.mq-tab{
      display: block;
    }
  }
  &__title{
    width: 35%;
    margin-right: 5%;
    .c-title01__lead{
      font-size: f.smooth_size(24px,30px);
    }
    @include f.mq-tab{
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
    .c-button02{
      margin-top: 2em;
    }
  }
  &__content{
    width: 65%;
    @include f.mq-tab{
      width: 100%;
    }
  }
}


.p-mypage_seminar{
  padding: 100px 0;
  background: f.$bg_color;
  margin-right: 90px;
  @include f.mq-max{
    padding: f.smooth_size(50px, 100px) 0;
  }
  @include f.mq-tab{
    margin-right: 0;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    @include f.mq-tab{
      display: block;
    }
  }
  &__title{
    width: 35%;
    margin-right: 5%;
    .c-title01__lead{
      font-size: f.smooth_size(24px,30px);
    }
    @include f.mq-tab{
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
    .c-button02{
      margin-top: 2em;
    }
  }
  &__content{
    width: 65%;
    @include f.mq-tab{
      width: 100%;
    }
  }
}