@use '../../foundation'as f;

.p-news_archive{
  background: f.$bg_color;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-left: 20px;
  margin-right: 90px;
  margin-top: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  .-blue &{
    background: none;
  }
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-top: f.smooth_size(50px ,100px);
    padding-bottom:  f.smooth_size(60px ,120px);
  }
  @include f.mq-tab{
    margin-right: 0;
  }
  @include f.mq-sp{
    margin-left: 0;
  }
  &__list{
    display: flex;
    &__item{
      &:last-child{
        a{
          margin-right: 0;
        }
      }
      a{
        &.is-current {
          border-bottom: 1px solid;
          color: f.$main_color;
          .-blue &{
            color: f.$blue_color;
          }
        }
        &.is-hover{
          color: f.$main_color;
          .-blue &{
            color: f.$blue_color;
          }
        }
        display: inline-block;
        color: f.$main_color_light;
        margin-right: 2em;
        transition: f.$fade-dur;
      }
    }
  }
  &__content{
    margin-top: 60px;
    @include f.mq-max{
      margin-top: f.smooth_size(40px,60px);
    }
  }
}

.p-news_single{
  background: f.$bg_color;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-left: 20px;
  margin-right: 90px;
  margin-top: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  .-blue &{
    background: none;
  }
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-top: f.smooth_size(50px ,100px);
    padding-bottom:  f.smooth_size(70px ,130px);
  }
  @include f.mq-tab{
    margin-right: 0;
  }
  @include f.mq-sp{
    margin-left: 0;
  }
}