@use '../../foundation'as f;

.p-privacy{
  padding-top: 200px;
  padding-bottom: 100px;
  @include f.mq-max{
    padding-top: f.smooth_size(100px,200px);
    padding-bottom: f.smooth_size(50px,100px);
  }
  table{
    th{
      padding: .5em;
    }
    td{
      padding: .5em;
    }
  }
}