@use '../../foundation'as f;

.p-seminar{
  margin-top: 70px;
  padding-bottom: 150px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-bottom: f.smooth_size(70px , 150px);
  }
}
.p-seminar_single{
  margin-top: 70px;
  magrin-bottom: 150px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    margin-bottom: f.smooth_size(70px , 150px);
  }
}