@use '../../foundation'as f;

.p-support-company{
  padding-bottom: 150px;
  margin-top: 70px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-bottom: f.smooth_size(70px , 150px);
  }
  &__list{
    margin-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid f.$border_color;
    @include f.mq-max{
      margin-top: f.smooth_size(30px ,60px);
      padding-bottom: f.smooth_size(25px ,50px);
    }
    .item{
      margin: 0 30px 30px 0;
	    width: calc(33.3333333% - 60px / 3);
      @include f.mq-sp{
        width: 48%;
        margin-right: 4%;
      }
      &:nth-child(3n){
        margin-right: 0;
        @include f.mq-sp{
          margin-right: 4%;
        }
      }
      &:nth-child(2n){
        @include f.mq-sp{
          margin-right: 0;
        }
      }
      a{
        width: 100%;
        display: block;
        &.is-hover{
          .item__img img{
            transform: scale(1.1);
          }
          .item__text{
            color: f.$main_color;
          }
        }
      }
      &__img{
        background: f.$white_color;
        width: 100%;
        box-sizing: border-box;
        padding:f.smooth_size(30px ,55px);
        height: f.smooth_size(150px ,300px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
        @include f.mq-sp{
          height: f.smooth_size(180px ,250px);
        }
        img{
          width: 100%;
          transition: f.$fade-dur;
          object-fit: contain;
        }
      }
      &__text{
        margin-top: 1em;
        position: relative;
        padding-left: 1.5em;
        transition: f.$fade-dur;
        .ico{
          position: absolute;
          top: .1em;
          left: 0;
          color: f.$main_color;
        }
      }
      &__tag{
        display: flex;
        flex-wrap: wrap;
        li{
          color: f.$main_color;
          font-size: 1.4rem;
          margin-right: .5em;
          @include f.mq-max{
            font-size: f.smooth_font(12px,14px);
          }
        }
      }
    }
  }
}

.p-support-company_single{
  padding-bottom: 150px;
  margin-top: 70px;
  @include f.mq-max{
    margin-top: f.smooth_size(40px,70px);
    padding-bottom: f.smooth_size(70px , 150px);
  }
  &__content{
    display: flex;
    @include f.mq-tab{
      display: block;
    }
  }
  &__img{
    max-width: 380px;
    min-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.2);
    height: 380px;
    @include f.mq-max{
      max-width: f.smooth_size(280px ,380px);
      min-width: f.smooth_size(280px ,380px);
      height: f.smooth_size(280px ,380px);
    }
    @include f.mq-tab{
      margin: 0 auto;
    }
    @include f.mq-sp{
      max-width: 100%;
      min-width: 100%;
    }
    img{
      width: 70%;
    }
  }
  &__info{
    width: 100%;
    margin-left: 55px;
    @include f.mq-tab{
      margin-left: 0;
      margin-top: 30px;
    }
    &__notice{
      margin-top: 1em;
      padding-left: 2em;
      text-decoration: underline;
      position: relative;
      &::before{
        content: '但';
        position: absolute;
        left: 0;

      }
    }
    &__link{
      display: flex;
      align-items: center;
      .c-button01{
        margin-right: 1em;
      }
    }
    &__profession{
      line-height: 1.4;
      font-size: 1.4rem;
      border-bottom: 1px solid f.$main_color;
      display: inline-block;
    }
    &__company{
      margin: 40px 0;
      font-family: f.$zen_font;
      font-size: 2.6rem;
      @include f.mq-max{
        font-size: f.smooth_font(20px , 26px);
        margin: f.smooth_size(20px , 40px) 0;
      }
    }
    &__detail{
      display: flex;
      .title{
        width: 80px;
        margin-right: 1em;
        color: f.$main_color;
        font-weight: normal;
      }
      .text{
        width: 100%;
      }
    }
    .c-button03{
      margin-top: 20px;
    }
    &__sns{
      margin-top: 20px;
      margin-bottom: 40px;
      display: flex;
      @include f.mq-max{
        margin-top: f.smooth_size(10px, 20px);
        margin-bottom: f.smooth_size(20px ,40px);
      }
      .item{
        margin-right: .8em;
        a{
          svg{
            width: 1em;
            height: 1em;
            @include f.mq-sp{
              width: 1.2em;
              height: 1.2em;
            }
            .cls-1{
              transition: f.$fade-dur;
            }
          }
          &.is-hover{
            svg{
              .cls-1{
                fill: f.$main_color;
              }
            }
          }
        }
      }
    }
  }
  &__prev{
    margin-top: 100px;
    @include f.mq-max{
      margin-top: f.smooth_size(50px, 100px);
    }
    a{
      margin: 0 auto;
    }
  }
}