@use '../foundation'as f;

.l-footer {
  margin-right: 90px;
  @include f.mq-tab{
    margin-right: 0;
  }
}

.l-footer_head{
  display: flex;
  margin-right: 90px;
  @include f.mq-tab{
    margin-right: 0;
  }
  @include f.mq-sp{
    display: block;
  }
  &.-join-us{
    .l-footer_head__item{
      width: 100%;
    }
  }
  &__item{
    width: 50%;
    position: relative;
    padding: 110px 0;
    overflow: hidden;
    background: #000;
    &::before{
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      transition: all .8s ease;
      background-size: cover;
      background-repeat: no-repeat;
      transition: f.$fade-dur;
    }
    &.is-hover{
      &::before {
        opacity: .5;
        transform: scale(1.05);
      }
    }
    @include f.mq-max{
      padding: f.smooth_size(55px , 110px) 0;
    }
    @include f.mq-sp{
      width: 100%;
    }
    &:first-child{
      border-right: 1px solid f.$white_color;
      &::before{
        background-image: url(#{f.$img_path}common/parts/footer_bg01.jpg);
        @include f.media_retina() {
          background-image: url(#{f.$img_path}common/parts/footer_bg01@2x.jpg);
        }
      }
      @include f.mq-sp{
        border-right: none;
      }
    }
    &:nth-child(2){
      &::before{
        background-image: url(#{f.$img_path}common/parts/footer_bg02.jpg);
        @include f.media_retina() {
          background-image: url(#{f.$img_path}common/parts/footer_bg02@2x.jpg);
        }
      }
    }
    .c-button01{
      a{
        margin: 0 auto;
        @include f.mq-sp{
          max-width: 260px;
        }
      }
    }
  }
  &__lead{
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    background: f.$white_color;
    text-align: center;
    border-bottom-right-radius: 15px;
    @include f.mq-max{
      width: f.smooth_size(100px , 160px);
    }
    span{
      position: relative;
      color: f.$main_color;
      width: 100%;
      display: block;
      &::before,
      &::after{
        content: '';
        background-image: url(#{f.$img_path}common/parts/header_radius.svg);
        position: absolute;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-size: cover;
      }
      &::before{
        left: 0;
        bottom: -10px;
      }
      &::after{
        right: -10px;
        top: 0px;
      }
    }
  }
  &__title{
    position: relative;
    font-family: f.$zen_font;
    font-size: 2.6rem;
    color: f.$white_color;
    margin-bottom: 30px;
    z-index: 1;
    @include f.mq-max{
      font-size: f.smooth_font(22px, 26px);
      margin-bottom: f.smooth_size(15px ,30px);
    }
  }
}

.l-footer_bottom{
  padding-top: 120px;
  padding-bottom: 115px;
  display: flex;
  @include f.mq-max {
    padding-top: f.smooth_size(60px , 120px);
    padding-bottom: f.smooth_size(60px , 115px);
  }
  @include f.mq-md {
    display: block;
  }
  &.-footer02{
    @include f.mq-md {
      display: flex;
    }
  }
  @include f.mq-sp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__logo{
    width: 260px;
    margin-right: 120px;
    @include f.mq-max{
      width: f.smooth_size(200px , 260px);
      margin-right: f.smooth_size(40px , 80px);
    }
    @include f.mq-tab{
      margin-right: 0;
    }
  }
  &__copy{
    display: none;
    @include f.mq-sp{
      display: block;
      text-align: center;
      font-family: f.$zen_font;
      color: f.$main_color_light;
      font-weight: 400;
      font-size: 1rem;
      padding-bottom: 80px;
    }
  }
  &__sitemap{
    display: flex;
    @include f.mq-md {
      margin-top: 40px;
      .-footer02 &{
        margin-top: 0;
        margin-left: 1em;
      }
    }
    @include f.mq-sp {
      display: none;
    }
    &__list{
      display: inline-block;
      margin-right: 90px;
      @include f.mq-max{
        margin-right: f.smooth_size(45px , 90px);
      }
      @include f.mq-md{
        margin-right: f.smooth_size(25px , 45px);
      }
      &:last-child{
        margin-right: 0;
      }
      &:nth-child(2),
      &:nth-child(3){
        .item{
          margin-bottom: .5em;
        }
      }
      .item{
        a{
          font-size: 1.6rem;
          transition: f.$fade-dur;
          @include f.mq-max{
            font-size: f.smooth_font(14px , 16px);
          }
          &:hover{
            color: f.$main_color;
          }
        }
      }
    }
  }
}