@use '../foundation'as f;

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: f.$z-header;
  .top.is-start &{
    opacity: 0;
    transform: translateY(-20%);
    transition: all .8s ease 2.2s;
  }
  .top.is-loaded &{
    opacity: 1;
    transform: translateX(0);
  }
  &__container{
    position: relative;
    background: f.$white_color;
    margin-right: 90px;
    padding-top: 20px;
    @include f.mq-sp{
      padding-top: 15px;
      margin-right: 0;
    }
  }
  &__logo{
    position: absolute;
    width: 330px;
    height: 70px;
    box-sizing: border-box;
    padding: 0 30px 20px 20px;
    background: f.$white_color;
    border-bottom-right-radius: 20px;
    @include f.mq-max{
      width: f.smooth_size(200px , 330px);
    }
    @include f.mq-sp{
      height: f.smooth_size(40px , 70px);
    }
    &::before{
      content: '';
      background-image: url(#{f.$img_path}common/parts/header_radius.svg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 20px;
      height: 20px;
      right: -20px;
      @include f.mq-sp{
        width: 15px;
        height: 15px;
        right: -15px;
      }
    }
  }
  &__navi{
    background: f.$white_color;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    transition: f.$fade-dur;
    @include f.mq-tab{
      display: none;
    }
    .is-act &{
      opacity: 0;
    }
    &::before{
      content: '';
      background-image: url(#{f.$img_path}common/parts/header_radius.svg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 20px;
      height: 20px;
      transform: scale(-1, 1);
      top: 0;
      left: -20px;
      @include f.mq-sp{
        width: 15px;
        height: 15px;
        left: -15px;
      }
    }
    .c-button01{
      height: 100%;
      a{
        padding-top: 0;
        height: 100%;
      }
    }
    a{
      display: block;
      padding:10px 20px 0;
      font-size: 1.6rem;
      font-family: f.$zen_font;
      transition: f.$fade-dur;
      @include f.mq-max{
        padding: 10px f.smooth_size(10px , 20px) 0;
      }
      @include f.mq-md{
        padding: 10px f.smooth_size(5px , 10px) 0;
      }
      &:hover{
        color: f.$main_color;
        span{
          position: relative;
          transition: .2s;
          animation-name: wave;
          animation-duration: .4s;
          animation-direction: alternate;
          @for $i from 0 to 20 {
            &:nth-child(#{$i}){
              animation-delay:#{$i * 60}ms;
            }
          }
        }
      }
      @include f.mq-max{
        font-size: f.smooth_font(14px , 16px);
      }
    }
  }
  @include f.mq-sp {}
}