@use '../../foundation'as f;

@keyframes wave {
  0% {
  top: 0;
  }
  50% {
    top: -8px;
    opacity: 0;
  }
  51% {
    top: 8px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
 }

 @keyframes kv {
  0% {
   transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
 }