@use '../../foundation' as f;

.c-crumbs{
  #breadcrumbs{
    text-align: right;
    font-size: 1.2rem;
    color: f.$main_color;
    font-weight: bold;
    & > span > span > span{
      color: #000;
      font-weight: normal;
    }
    a{
      transition: f.$fade-dur;
      &:hover{
        color: f.$main_color;
      }
    }
  }
}