@use '../../foundation'as f;

.c-button {
  &01 {
    a,
    .submit,
    input[type='submit'] {
      display: block;
      width: 380px;
      padding: 20px;
      text-align: center;
      background: #fff;
      border: 2px solid f.$border_color;
      border-radius: 5px;
      transition: f.$fade-dur;
      position: relative;
      line-height: 1;
      @include f.mq-max {
        width: f.smooth_size(300px, 380px);
      }
      @include f.mq-tab {
        width: f.smooth_size(250px, 300px);
      }
      @include f.mq-sp {
        width: 100%;
        padding: 20px 50px 20px 20px;
      }
      .ico {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: f.$main_color;
        transition: f.$fade-dur;
        svg {
          width: 1.2em;
          height: 1.2em;
        }
      }
      &.is-hover {
        background: f.$main_color;
        border: 2px solid f.$main_color;
        color: f.$white_color;
        .ico {
          color: f.$white_color;
          right: 20px;
        }
      }
    }
    &.-center {
      a,
      .submit {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.-ico-left {
      a,
      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        .ico {
          margin-right: 0.5em;
          position: static;
          transition: f.$fade-dur;
          height: 10px;
        }
      }
    }
    &.-small {
      a,
      .submit {
        width: 245px;
        font-size: 1.6rem;
        @include f.mq-max {
          width: f.smooth_size(200px, 245px);
          font-size: f.smooth_font(14px, 16px);
        }
      }
    }
    &.-medium {
      a,
      .submit {
        width: 300px;
        font-size: 1.6rem;
        @include f.mq-max {
          width: f.smooth_size(250px, 300px);
          font-size: f.smooth_font(14px, 16px);
        }
      }
    }
    &.-green {
      a,
      .submit,
      input[type='submit'] {
        background: f.$main_color;
        border: 2px solid f.$main_color;
        color: f.$white_color;
        .ico {
          color: f.$white_color;
        }
        &.is-hover {
          background: f.$white_color;
          color: f.$main_color;
          .ico {
            color: f.$main_color;
          }
        }
      }
    }
    &.-blue {
      a,
      .submit {
        padding: 0;
        background: f.$blue_color;
        border: 2px solid f.$blue_color;
        color: f.$white_color;
        .ico {
          color: f.$white_color;
        }
        &.is-hover {
          background: f.$white_color;
          color: f.$blue_color;
          .ico {
            color: f.$blue_color;
          }
        }
      }
    }
  }
  &02 {
    a,
    .submit {
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid f.$main_color;
      transition: f.$fade-dur;
      .-blue & {
        border-color: f.$blue_color;
      }
      .ico {
        color: f.$main_color;
        margin-left: 0.5em;
        .-blue & {
          color: f.$blue_color;
        }
      }
      &.is-hover {
        color: f.$main_color;
        .-blue & {
          color: f.$blue_color;
        }
        .js-sprit span {
          position: relative;
          transition: 0.2s;
          animation-name: wave;
          animation-duration: 0.4s;
          animation-direction: alternate;
          @for $i from 0 to 20 {
            &:nth-child(#{$i}) {
              animation-delay: #{$i * 60}ms;
            }
          }
        }
      }
    }
    &.-green {
      a {
        color: f.$main_color;
      }
    }
  }
  &03 {
    a,
    .submit {
      display: inline-flex;
      align-items: center;
      background: f.$main_color;
      font-family: f.$open_font;
      color: f.$white_color;
      line-height: 1;
      font-weight: 300;
      border-radius: 9999px;
      padding: 0.5em 1em;
      transition: f.$fade-dur;
      border: 2px solid f.$main_color;
      .ico {
        margin-right: 0.5em;
        svg {
          .cls-1 {
            fill: f.$white_color;
            transition: f.$fade-dur;
          }
        }
      }
      &.is-hover {
        background: f.$white_color;
        color: f.$main_color;
        border: 2px solid f.$main_color;
        .ico {
          svg {
            .cls-1 {
              fill: f.$main_color;
            }
          }
        }
      }
    }
  }
}
