@use '../../foundation'as f;

.c-side_navi {
  position: fixed;
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  z-index: f.$z-drawer-button;
  @include f.mq-tab {
    height: auto;
    width: auto;
  }
  .top.is-start & {
    opacity: 0;
    transform: translateX(80%);
    transition: all 0.8s ease 1.3s;
  }
  .top.is-loaded & {
    opacity: 1;
    transform: translateX(0);
  }
  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: f.$white_color;
    height: calc(100vh - 280px);
    border-left: 1px solid f.$border_color;
    border-right: 1px solid f.$border_color;
    z-index: f.$z-drawer-button;
    p {
      font-size: 1.2rem;
      color: f.$main_color_light;
      font-weight: 400;
      transform: rotate(90deg);
      white-space: nowrap;
    }
    @include f.mq-tab {
      display: none;
    }
  }
  &__bottom {
    z-index: f.$z-drawer-button;
    background: f.$white_color;
    border-top: 1px solid f.$border_color;
    position: relative;
    bottom: 0;
    border: 1px solid f.$border_color;
    height: 190px;
    @include f.mq-tab {
      display: none;
    }
    &__list {
      .item {
        &_svg {
          color: f.$main_color;
          line-height: 1;
          svg {
            width: 1.5em;
            height: 1.5em;
          }
        }
        &:nth-child(1) a {
          &::before {
            content: '';
            position: absolute;
            width: 70%;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background: f.$border_color;
          }
        }
        a {
          padding: 16px 2px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          transition: f.$fade-dur;
          &:hover {
            p {
              color: f.$main_color;
              span {
                position: relative;
                transition: 0.2s;
                animation-name: wave;
                animation-duration: 0.6s;
                animation-direction: alternate;
                @for $i from 0 to 20 {
                  &:nth-child(#{$i}) {
                    animation-delay: #{$i * 60}ms;
                  }
                }
              }
            }
          }
          p {
            font-family: f.$zen_font;
            font-size: 1.3rem;
            text-align: center;
            line-height: 1.4;
            transition: f.$fade-dur;
            @include f.mq-max {
              font-size: f.smooth_font(11px, 13px);
            }
          }
        }
      }
    }
  }
}

.c-drawer {
  position: fixed;
  top: 0;
  left: 0;
  background: f.$white_color;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.6s ease;
  @include f.mq-sp {
    padding-bottom: 0;
    padding-left: 0;
  }
  &.is-act {
    opacity: 1;
    z-index: 7500;
  }
  &__container {
    background: f.$bg_color;
    height: 100%;
    border-radius: 15px;
    @include f.mq-max {
      border-radius: 0;
    }
  }
  &__inner {
    display: flex;
    padding: 70px 50px 50px 50px;
    height: 100%;
    margin-right: 90px;
    @include f.mq-tab {
      margin-right: 0;
    }
    @include f.mq-sp {
      display: flex;
      align-items: center;
      padding: 40px 20px 20px 20px;
    }
  }
  &__img {
    width: 45%;
    border-radius: 20px;
    overflow: hidden;
    @include f.mq-sp {
      display: none;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center left;
    }
  }
  &__menu {
    width: 55%;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include f.mq-max {
      padding: f.smooth_size(30px, 60px);
    }
    @include f.mq-md {
      overflow-y: scroll;
    }
    @include f.mq-sp {
      padding: 0;
      width: 100%;
    }
    &__inner {
      width: 100%;
    }
    &__head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      @include f.mq-md {
        display: block;
      }
    }
    &__bottom {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      @include f.mq-sp {
        margin-top: 0;
      }
      &__item {
        width: 49%;
        @include f.mq-md {
          width: 100%;
          margin-bottom: 10px;
        }
        @include f.mq-sp {
          width: 48%;
          margin-bottom: 0;
        }
        a {
          width: 100%;
          display: block;
          text-align: center;
          padding: 40px;
          box-sizing: border-box;
          background: f.$white_color;
          transition: f.$fade-dur;
          border-radius: 10px;
          font-family: f.$zen_font;
          font-size: 2rem;
          @include f.mq-max {
            padding: f.smooth_size(20px, 40px);
            font-size: f.smooth_size(16px, 18px);
          }
          @include f.mq-md {
            font-size: f.smooth_size(14px, 16px);
          }
          @include f.mq-sp {
            font-size: f.smooth_size(12px, 14px);
            padding: f.smooth_size(10px, 20px);
          }
          .item_svg {
            color: f.$main_color;
            margin-right: 0.5em;
            transition: f.$fade-dur;
            line-height: 1;
            .js-svg {
              width: 1.7em;
              height: 1.7em;
            }
          }
          &.is-hover {
            color: f.$white_color;
            background: f.$main_color;
            .item_svg {
              color: f.$white_color;
            }
          }
        }
      }
    }
    &__list {
      width: 49%;
      @include f.mq-md {
        width: 100%;
      }
    }
    &__item {
      a {
        font-family: f.$zen_font;
        font-size: 2rem;
        display: flex;
        align-items: center;
        background: f.$white_color;
        transition: f.$fade-dur;
        padding: 0.5em 1em;
        border-radius: 10px;
        margin-bottom: 10px;
        @include f.mq-max {
          font-size: f.smooth_size(18px, 20px);
        }
        @include f.mq-md {
          font-size: f.smooth_size(16px, 18px);
        }
        @include f.mq-sp {
          font-size: f.smooth_size(12px, 14px);
        }
        .ico {
          color: f.$main_color;
          margin-right: 0.5em;
          transition: f.$fade-dur;
          line-height: 1;
        }
        &.is-hover {
          color: f.$white_color;
          background: f.$main_color;
          .ico {
            color: f.$white_color;
          }
        }
      }
      .is-act & {
        @for $i from 0 to 20 {
          &:nth-child(#{$i}) {
            transform: translateX(0);
            opacity: 1;
            transition-delay: #{$i * 60}ms;
          }
        }
      }
    }
  }
  &__button {
    z-index: f.$z-drawer-button;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 90px;
    color: f.$white-color;
    background-color: f.$main_color;
    transition: f.$fade-dur;
    &.is-hover {
      background: f.$main_color_darker;
    }
    @include f.mq-tab {
      border-bottom-left-radius: 20px;
      height: 90px;
      width: 90px;
      .is-start & {
        transform: translateX(120px);
      }
      .is-loaded & {
        transform: translateX(0);
      }
    }
    @include f.mq-sp {
      border-bottom-left-radius: 15px;
      width: f.smooth_size(60px, 70px);
      height: f.smooth_size(60px, 70px);
    }
  }
  &__humburger {
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    @include f.mq-max {
      top: f.smooth_size(15px, 30px);
    }
    .is-act & {
      width: 25px;
      height: 25px;
    }
    span {
      top: 25%;
      margin-top: -1px;
      text-indent: -9999px;
      transform: translateX(0%);
      transition: 0.2s;
      .is-act & {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    span,
    &::after,
    &::before {
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: f.$white_color;
      right: 0;
      @include f.mq-tab {
        height: 1px;
      }
    }
    &::before {
      content: '';
      top: 0;
      transition: f.$fade-dur;
      .is-act & {
        transform: rotate(45deg);
        width: 25px;
        top: 25%;
      }
    }
    &::after {
      content: '';
      top: 45%;
      transition: f.$fade-dur;
      .is-act & {
        transform: rotate(-45deg);
        width: 25px;
        top: 25%;
      }
    }
  }
  &__humburger_menu {
    &::before {
      content: 'MENU';
    }
    cursor: pointer;
    font-family: f.$open_font;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    transition: 0.2s;
    @include f.mq-sp {
      font-size: f.smooth_font(12px, 14px);
    }
    .is-act & {
      &::before {
        content: 'CLOSE';
      }
    }
  }
}

.c-navi {
  &__bottom {
    display: none;
    z-index: 7500;
    background: f.$white_color;
    border-top: 1px solid f.$border_color;
    width: 100%;
    bottom: 0;
    border: 1px solid f.$border_color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .top.is-start & {
      opacity: 0;
      transition: all 0.8s ease 1.6s;
    }
    .top.is-loaded & {
      opacity: 1;
    }
    @include f.mq-tab {
      display: block;
      position: fixed;
    }
    &__list {
      display: flex;
      .item {
        width: 100%;
        &_svg {
          color: f.$main_color;
          line-height: 1;
          margin-right: 0.5em;
          svg {
            width: 1.5em;
            height: 1.5em;
          }
        }
        &:nth-child(1) a {
          border-right: 1px solid f.$border_color;
        }
        a {
          padding: 12px 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: f.$fade-dur;
          &.is-hover {
            p {
              color: f.$main_color;
              span {
                position: relative;
                transition: 0.2s;
                animation-name: wave;
                animation-duration: 0.6s;
                animation-direction: alternate;
                @for $i from 0 to 20 {
                  &:nth-child(#{$i}) {
                    animation-delay: #{$i * 60}ms;
                  }
                }
              }
            }
          }
          p {
            font-family: f.$zen_font;
            font-size: 1.3rem;
            text-align: center;
            line-height: 1.4;
            transition: f.$fade-dur;
            @include f.mq-max {
              font-size: f.smooth_font(11px, 13px);
            }
          }
        }
      }
    }
  }
}
