@use '../../foundation'as f;

.c-select{
  background: f.$white_color;
  border-radius: 5px;
  border: solid 1px f.$border_color;
  padding: .3em 1em;
  min-width: 180px;
  max-width: 180px;
  font-size: 1.6rem;
  cursor: pointer;
  @include f.mq-sp{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}


.c-form {
  input {
    &[type='text'] {
      @extend %type-text-style;
    }

    &[type='email'] {
      @extend %type-text-style;
    }

    &[type='tel'] {
      @extend %type-text-style;
    }
    &.zip {
      width: auto;
      margin-bottom: 10px;
      padding: 0.6em;
      margin-left: 0.6em;
    }
    &.address {
      width: 580px;
    }
  }

  textarea {
    @extend %type-text-style;
    line-height: 1.7;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    &::placeholder{
      color: #999999;
    }
  }

  label {
    display: block;
  }

  .mwform-radio-field {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    line-height: 1;
    margin-right: 30px;
    margin-bottom: 10px;
    @include f.mq-max {
      margin-right: f.smooth_size(10px, 30px);
      margin-bottom: f.smooth_size(5px, 10px);
    }
    label{
      margin-right: 1em;
      cursor: pointer;
    }
    input[type='radio'] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      display: inline-block;
      font-size: 0;
      & + .mwform-radio-field-text {
        position: relative;
        margin-top: 15px;
        color: #111;
        line-height: 22px;
        @include f.mq-sp {
          line-height: 18px;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          vertical-align: text-top;
          margin-right: 10px;
          transition: all 0.3s ease;
          background-color: #fff;
          border: 1px solid f.$border_color;
          border-radius: 50%;
          @include f.mq-sp {
            width: 18px;
            height: 18px;
          }
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: f.$blue_color;
          opacity: 0;
          transition: all 0.3s ease;
          @include f.mq-sp {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    input[type='radio']:checked + .mwform-radio-field-text::after {
      opacity: 1;
    }
  }

  .mwform-checkbox-field {
    display: inline-block;
    padding: 0;
    line-height: 1;
    margin-right: 30px;
    margin-bottom: 10px;
    @include f.mq-max {
      margin-right: f.smooth_size(10px, 30px);
      margin-bottom: f.smooth_size(5px, 10px);
    }
    input[type='checkbox'] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      display: inline-block;
      font-size: 0;
      & + .mwform-checkbox-field-text {
        position: relative;
        margin-top: 15px;
        line-height: 24px;
        font-weight: 400;
        cursor: pointer;
        @include f.mq-sp {
          line-height: 20px;
        }
        &::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 3px;
          vertical-align: text-top;
          margin-right: 10px;
          transition: all 0.3s ease;
          background-color: #fff;
          border: 1px solid f.$border_color;
          @include f.mq-sp {
            width: 20px;
            height: 20px;
          }
        }
        &::after {
          border-bottom: 2px solid f.$main_color;
          border-left: 2px solid f.$main_color;
          content: '';
          display: block;
          width: 1em;
          height: 0.6em;
          left: 0.35em;
          margin-top: -0.35em;
          opacity: 0;
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
          transition: all 0.3s ease;
        }
      }
    }
    input[type='checkbox']:checked + .mwform-checkbox-field-text::after {
      opacity: 1;
    }
  }
}

.mw_wp_form .vertical-item{
  display: inline-block !important;
}

.mw_wp_form_confirm{
  .p-contact__check{
    display: none;
  }
}