@use '../../foundation'as f;

.c-container {
  width: f.$base_width_max + f.$base_padding_max * 2;
  margin: 0 auto;
  padding: 0 f.smooth_size(f.$base_padding_min, f.$base_padding_max);

  @include f.mq-max {
    width: f.smooth_size(f.$base_width_min, f.$base_width_max + f.$base_padding_max * 2);
  }

  @include f.mq-spmin {
    width: 100%;
  }

  @include f.mq-min {
    padding-left: f.$base_padding_min;
    padding-right: f.$base_padding_min;
  }
}

.c-fluid {
  padding: 0 smooth_size(f.$base_padding_min, f.$base_padding_max);

  @include f.mq-min {
    padding-left: f.$base_padding_min;
    padding-right: f.$base_padding_min;
  }
}