@use '../../foundation' as f;

.c-lower-head{
  &01{
    margin-top: 20px;
    margin-right: 90px;
    margin-left: 20px;
    @include f.mq-max{
      margin-right: f.smooth_size(60px,90px);
    }
    @include f.mq-tab{
      margin-right: 0;
    }
    @include f.mq-sp{
      margin-left: 0;
    }
    &__title{
      text-align: center;
      margin-bottom: 70px;
      @include f.mq-max{
        margin-bottom: f.smooth_size(40px,70px);
      }
    }
    &__head{
      height: 300px;
      margin-bottom: 70px;
      overflow: hidden;
      @include f.mq-max{
        height: f.smooth_size(250px ,300px);
        margin-bottom: f.smooth_size(40px,70px);
      }
      @include f.mq-sp{
        height:f.smooth_size(150px ,200px);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        @include f.mq-sp{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
  &02{
    margin-top: 90px;
    margin-right: 90px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: f.$sub_color;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .-blue &{
      background: f.$bg_blue_color;
      .c-lower-head02__titl .en{
        color: f.$blue_color;
      }
    }
    @include f.mq-max{
      padding-top: f.smooth_size(40px ,80px);
      padding-bottom: f.smooth_size(40px ,80px);
    }
    @include f.mq-tab{
      margin-right: 0;
    }
    @include f.mq-sp{
      margin-left: 0;
      margin-top: 61px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &__title{
      text-align: center;
    }
  }
}