@use '../../foundation'as f;

.c-news_list{
  &__link{
    display: block;
    border-bottom: 1px solid f.$border_color;
    padding: 20px 0;
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 1px;
      background: f.$main_color;
      transform: scale(0, 1);
      transform-origin: right top; 
      transition: transform 0.4s;
      .-blue &{
        background: f.$blue_color;
      }
    }
    @include f.mq-max{
      padding: f.smooth_size(15px ,20px) 0;
    }
    &.is-hover{
      &::after {
        transform: scale(1, 1);
        transform-origin: left bottom;
      }
      .c-news_list__link__title{
        color: f.$main_color;
        .-blue &{
          color: f.$blue_color;
        }
      }
    }
    &.-flex{
      display: flex;
      @include f.mq-sp{
        display: block;
        .c-news_list__link__info{
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
      .c-news_list__link__info{
        margin-right: 50px;
        margin-bottom: 0px;
      }
    }
    &__info{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @include f.mq-max{
        margin-bottom: f.smooth_size(5px ,10px);
      }
      .cat{
        background: f.$main_color;
        border-radius: 9999px;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: .5em 1em;
        white-space: nowrap;
        min-width: 6em;
        color: f.$white_color;
        .-blue &{
          background: f.$blue_color;
        }
        @include f.mq-sp{
          padding: .5em .8em;
          font-size: 11px;
        }
      }
      time{
        margin-right: 1em;
        font-family: f.$open_font;
        font-size: 1.4rem;
        color: f.$main_color_light;
      }
    }
    &__title{
      letter-spacing: .04em;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all f.$fade-dur ease;
      white-space: nowrap;
    }
  }
}

