@use '../../foundation'as f;

.wp-pagenavi{
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  @include f.mq-max{
    margin-top: f.smooth_size(40px ,70px);
  }
  .current{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: f.$open_font;
    font-size: 1.4rem;
    color: f.$main_color;
    background: f.$sub_color;
    line-height: 1;
    border-radius: 9999px;
    margin-right: 1em;
    .-blue &{
      color:  f.$blue_color;
      bacground: f.$bg_blue_color;
    }
    @include f.mq-sp{
      margin-right: .5em;
    }
  }
  .page,
  .nextpostslink,
  .previouspostslink{
    font-family: f.$open_font;
    font-size: 1.4rem;
    color: f.$font_color;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    @include f.mq-sp{
      margin-right: .5em;
    }
  }
}