@use '../../foundation'as f;

.c-crumbs {
  color: f.$font_color;
  margin: 10px 0;
}

.c-font-zen{
  font-family: f.$zen_font;
}
.c-font-bold{
  font-weight: bold;
}

.c-table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  tr{
    th{
      text-align: center;
      font-weight: normal;
      font-size: 1.6rem;
      padding: .8em .5em;
      background: f.$bg_color;
      border-left-width: 0;
      border-bottom-width: 0;
      line-height: 1.4;
      &:first-child{
        border-left-width: 1px;
        border-top-left-radius: 10px;
      }
      &:last-child{
        border-top-right-radius: 10px;
      }
      @include f.mq-max{
        font-size: f.smooth_font(12px, 15px);
      }
    }
    td{
      &:first-child{
        border-left-width: 1px;
        border-bottom-left-radius: 10px;
      }
      &:last-child{
        border-bottom-right-radius: 10px;
      }
      border-left-width: 0;
      padding: .2em .5em;
      text-align: center;
      color: f.$main_color;
    }
  }
}

.c-text{
  &-center{
    text-align: center;
  }
  &01{
    font-size: 1.6rem;
    @include f.mq-max{
      font-size: f.smooth_font(14px ,16px);
    }
  }
  &02{
    font-size: 1.8rem;
    @include f.mq-max{
      font-size: f.smooth_font(16px ,18px);
    }
    @include f.mq-sp{
      font-size: f.smooth_font(14px ,16px);
    }
  }
  &03{
    font-size: 2rem;
    @include f.mq-max{
      font-size: f.smooth_font(18px ,20px);
    }
    &.-green{
      color: f.$main_color;
    }
  }
}

.c-pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

.c-hamburger {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;

  span {
    height: 2px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -25%;
    background-color: #333;
    text-indent: -9999px;
    transition: all 0.3s ease;

    &.hidden {
      display: none;
    }
  }

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 80%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    background-color: #333;
    transition: all 0.3s ease;
  }

  &::before {
    top: 25%;
  }

  &::after {
    bottom: 25%;
  }

  &.is-act {
    color: #333;

    &:before {
      transform: rotate(135deg);
      top: 45%;
      background: #333;
    }

    &:after {
      transform: rotate(-135deg);
      top: 45%;
      background: #333;
    }
  }
}

.c-alert_ie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  &__alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    max-width: 650px;
    padding: f.smooth_size(30px, 60px);
    .c-btn_edge {
      text-align: center;
      margin-top: 20px;
      display: block;
      color: #fff;
      background: f.$main_color;
      border: 1px solid f.$main_color;
      padding: 10px f.smooth_size(10px, 20px);
      border-radius: 30px;
      transition: all 0.3s ease;
      &:hover {
        background: #fff;
        color: f.$main_color;
      }
    }
  }
}

.c-about-us{
  margin-top: 70px;
  background: f.$bg_color;
  padding: 30px 50px;
  border-radius: 15px;
  @include f.mq-max{
    padding: f.smooth_size(20px ,30px) f.smooth_size(30px ,50px);
    margin-top: f.smooth_size(40px ,70px);
  }
  &__title{
    color: f.$main_color;
    margin-bottom: .5em;
  }
  &__button{
    margin-top: .5em;
  }
}

.p-notfound_body{
  height: 80vh;
  padding-top: 200px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 4rem;
    color: f.$main_color;
    font-family: f.$open_font;
    margin-bottom: 1em;
    @include f.mq-max{
      font-size: f.smooth_font(26px,40px);
    }
  }
}