@use '../../foundation'as f;

.c-post{
  .c-button01{
    margin-top: 120px;
    @include f.mq-max{
      margin-top: f.smooth_size(60px, 120px);
    }
    a{
      margin: 0 auto;
    }
  }
  &_head{
    margin-bottom: 50px;
    padding-bottom: 20px;
    @include f.mq-max{
      margin-bottom: f.smooth_size(30px , 50px);
      padding-bottom: f.smooth_size(10px ,20px);
      border-bottom: 1px solid f.$border_color;
    }
    h1{
      color: f.$font_color;
      font-size: 3rem;
      line-height: 1.7;
    }
    &__info{
      .cat{
        background: f.$main_color;
        border-radius: 9999px;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: .5em 1em;
        white-space: nowrap;
        min-width: 6em;
        color: f.$white_color;
        .-blue &{
          background: f.$blue_color;
        }
        @include f.mq-sp{
          padding: .5em .8em;
          font-size: 11px;
        }
      }
      time{
        margin-right: 1em;
        font-family: f.$open_font;
        font-size: 1.4rem;
        color: f.$main_color_light;
      }
    }
  }
  &_body{
    @extend %post-style;
  }
}