@use '../../foundation'as f;

.c-search{
   background: f.$bg_color;
   border-radius: 15px;
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   @include f.mq-max{
     padding: f.smooth_size(20px ,30px);
   }
   @include f.mq-sp{
     display: block;
   }
   
   &__item{
     display: flex;
     align-items: center;
     margin-right: 40px;
     @include f.mq-max{
       margin-right: f.smooth_size(20px ,40px);
     }
     @include f.mq-tab{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-bottom: 1em;
       margin-right: f.smooth_size(10px ,20px);
     }
     @include f.mq-sp{
       margin-right: 0;
     }
     &__title{
       font-weight: normal;
       margin-right: 1em;
       width: 100%;
     }
     &__content{
      width: 100%;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 1em;
        top: 1.2em;
        transform: translateY(-50%);
        width: 1.2em;
        height: .2em;
        background: f.$main_color;
        .-blue &{
          background: f.$blue_color;
        }
      }
    }
   }
   
   &__button{
     font-size: 1.4rem;
     display: flex;
     align-items: center;
     background: f.$main_color;
     color: f.$white_color;
     padding: 1em 1.5em;
     border-radius: 9999px;
     line-height: 1;
     transition: f.$fade-dur;
     .-blue &{
      background: f.$blue_color;
    }
     &.is-hover{
      background: f.$main_color_darker;
      .-blue &{
        background: f.$blue_color_darler;
      }
     }
     @include f.mq-max{
       font-size: f.smooth_font(12px, 14px);
     }
     @include f.mq-sp{
       margin: 0 auto;
     }
     .ico{
       margin-left: .5em;
     }
   }
}