@use '../../foundation'as f;

.c-seminar_list{
  margin-top: 30px;
  &__link{
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid f.$border_color;
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 1px;
      background: f.$main_color;
      transform: scale(0, 1);
      transform-origin: right top; 
      transition: transform 0.4s;
      .-blue &{
        background: f.$blue_color;
      }
    }
    @include f.mq-max{
      padding: f.smooth_size(8px ,16px) 0;
    }
    &.is-hover{
      &::after {
        transform: scale(1, 1);
        transform-origin: left bottom;
      }
      .c-seminar_list__link__img{
       img{
        transform: scale(1.1);
       }
      }
      .c-seminar_list__link__title{
        color: f.$main_color;
        .-blue &{
          color: f.$blue_color;
        }
      }
    }
    &__img{
      overflow: hidden;
      width: 50%;
      max-width: 190px;
      margin-right: 30px;
      img{
        transition: f.$fade-dur;
        width: 100%;
      }
      @include f.mq-max{
        max-width: f.smooth_size(95px ,190px);
        margin-right: f.smooth_size(15px ,30px);
      }
      @include f.mq-sp{
        min-width: 45%;
        max-width: 45%;
      }
    }
    &__text{
      width: 100%;
    }
    &__title{
      margin-top: .5em;
      transition: f.$fade-dur;
    }
    &__desc{
      font-family: f.$open_font;
      font-size: 1.4rem;
      display: flex;
      flex-wrap: wrap;
      @include f.mq-max{
        font-size: f.smooth_font(12px , 14px);
      }
      dt{
        font-weight: 400;
        width: 60px;
        margin-right: .5em;
        color: f.$main_color;
        line-height: 1.6;
        .-blue &{
          color: f.$blue_color;
        }
      }
      dd{
        color: f.$main_color_light;
        line-height: 1.6;
      }
    }
  }
  &02{
    &__link{
      display: flex;
      padding: 70px 0;
      border-bottom: 1px solid f.$border_color;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        width: 100%;
        height: 1px;
        background: f.$main_color;
        transform: scale(0, 1);
        transform-origin: right top; 
        transition: transform 0.4s;
        .-blue &{
          background: f.$blue_color;
        }
      }
      @include f.mq-max{
        padding: f.smooth_size(40px ,70px) 0;
      }
      @include f.mq-sp{
        display: block;
      }
      &.is-hover{
        &::after {
          transform: scale(1, 1);
          transform-origin: left bottom;
        }
        .c-seminar_list02__link__img{
         img{
          transform: scale(1.1);
         }
        }
        .c-seminar_list02__link__title{
          color: f.$main_color;
          .-blue &{
            color: f.$blue_color;
          }
        }
      }
      &__img{
        overflow: hidden;
        min-width: 380px;
        max-width: 380px;
        margin-right: 30px;
        img{
          transition: f.$fade-dur;
          width: 100%;
        }
        @include f.mq-max{
          min-width: f.smooth_size(280px ,380px);
          max-width: f.smooth_size(280px ,380px);
          margin-right: f.smooth_size(15px ,30px);
        }
        @include f.mq-sp{
          min-width: 100%;
          max-width: 100%;
          margin-right: 0;
          img{
            width: 100%;
          }
        }
      }
      &__info{
        width: 100%;
        @include f.mq-sp{
          margin-top: 30px;
        }
      }
      &__title{
        margin-bottom: 30px;
        transition: f.$fade-dur;
        font-size: 2.4rem;
        font-weight: bold;
        @include f.mq-max{
          font-size: f.smooth_font(18px ,24px);
          margin-bottom: f.smooth_size(20px,30px);
        }
      }
      &__desc{
        font-family: f.$open_font;
        font-size: 1.4rem;
        display: flex;
        flex-wrap: wrap;
        @include f.mq-max{
          font-size: f.smooth_font(12px , 14px);
        }
        dt{
          font-weight: 400;
          width: 60px;
          margin-right: .5em;
          color: f.$main_color;
          line-height: 1.6;
          .-blue &{
            color: f.$blue_color
          }
        }
        dd{
          color: f.$main_color_light;
          line-height: 1.6;
        }
      }
      &__text{
        margin-top: 30px;
        @include f.mq-max{
          margin-top: f.smooth_size(20px ,30px);
        }
      }
    }
  }
}

.c-seminar_single {
  margin-left: 20px;
  background: f.$bg_color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 70px;
  padding-bottom: 120px;
  @include f.mq-sp{
    margin-left: 0;
    border-radius: 0;
  }
  &__container{
    display: flex;
    @include f.mq-tab{
      display: block;
    }
  }
  &__content{
    width: 100%;
    .c-button01{
      margin-top: 50px;
      @include f.mq-max{
        margin-top: f.smooth_font(30px,50px);
      }
    }
  }
  &__head{
    border-bottom: 1px solid f.$border_color;
    padding-bottom: .5em;
    margin-bottom: 40px;
    .-blue &{
      border-color:  f.$blue_color;
    }
    @include f.mq-max{
      margin-bottom: f.smooth_size(20px ,40px);
    }
    &__title{
      font-size: 2.8rem;
      @include f.mq-max{
        font-size: f.smooth_font(24px ,28px);
      }
    }
    &__time{
      font-size: 1.4rem;
      display: inline-block;
      margin-top: 1em;
      @include f.mq-max{
        font-size: f.smooth_font(12px ,14px);
      }
    }
  }
  &__post{
    figure{
      margin-bottom: 40px;
      img{
        width: 100%;
      }
      @include f.mq-max{
        margin-bottom: f.smooth_size(20px ,40px);
      }
    }
    p{
      margin-bottom: 1em;
      font-size: 1.6rem;
      @include f.mq-max{
        font-size: f.smooth_font(14px,16px);
      }
    }
    .instructor-name{
      font-weight: bold;
      margin-bottom: 0;
    }
    .instructor-profile{
      margin-bottom: 1em;
    }
    ul{
      li{
        padding-left: 1em;
        position: relative;
        &::after{
          content: '・';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    
    .instructor-item{
      
      dl{
        display: flex;
        dt{
          width: 50px;
          font-weight: normal;
        }
        dd{
          width: 100%;
        }
      }
    }
    
    &__info{
      margin-top: 40px;
      @include f.mq-max{
        margin-top: f.smooth_size(20px,40px);
      }
      .info-item{
        display: flex;
        border-bottom: 1px solid f.$border_color;
        padding: .8em 0;
        font-size: 1.6rem;
        .-blue &{
          border-color:  f.$blue_color;
        }
        @include f.mq-max{
          font-size: f.smooth_font(14px, 16px);
        }
        @include f.mq-sp{
          display: block;
        }
        &__title{
          font-weight: normal;
          color: f.$main_color;
          width: 130px;
          margin-right: 30px;
          line-height: 1.7;
          .-blue &{
            color:  f.$blue_color;
          }
          @include f.mq-sp{
            width: 100%;
            margin-right: 0;
            margin-bottom: .5em;
          }
        }
        &__content{
          width: 100%;
          line-height: 1.7;
        }
      }
    }
  }
  &__side{
    background: f.$white_color;
    padding: 20px;
    border-radius: 10px;
    min-width: 375px;
    max-width: 375px;
    margin-left: 70px;
    @include f.mq-max{
      margin-left: f.smooth_size(40px , 70px);
      min-width: f.smooth_size(250px, 375px);
      max-width:  f.smooth_size(250px ,375px);
    }
    @include f.mq-tab{
      min-width: 100%;
      max-width: 100%;
      margin-left:0;
      padding: f.smooth_size(20px , 40px);
      margin-top: f.smooth_size(50px , 100px);
    }
    &__title{
      font-size: 2.2rem;
      color: f.$main_color;
      padding-bottom: .5em;
      margin-bottom: 1em;
      border-bottom: 2px solid f.$main_color;
      .-blue &{
        color:  f.$blue_color;
        border-color: f.$blue_color;
      }
      @include f.mq-max{
        font-size: f.smooth_font(18px,22px);
      }
    }
  }
}