@use '../../foundation'as f;

.c-title{
  &-center{
    text-align: center;
  }
  &01{
    &__sub{
      @extend %title-style;
      position: relative;
      padding-left: 60px;
      font-family: f.$open_font;
      font-size: 1.4rem;
      color: f.$main_color_light;
      margin-bottom: 35px;
      @include f.mq-max{
        margin-bottom: f.smooth_size(20px ,35px);
        font-size: f.smooth_font(12px ,14px);
      }
      @include f.mq-sp{
        margin-bottom: f.smooth_size(10px ,20px);
      }
      &.is-act{
        &::before{
          transform: scale(1, 1);
        }
      }
      &::before{
        content: '';
        position: absolute;
        background: f.$main_color;
        width: 40px;
        height: 1px;
        transition: all .4s;
        left: 0;
        top: 50%;
        transform: scale(0, 1) translateY(-50%);
        transform-origin: left top;
        .-blue &{
          background: f.$blue_color;
        }
      }
    }
    &__lead{
      @extend %title-style;
      line-height: 1;
      font-family: f.$zen_font;
      font-size: 4rem;
      @include f.mq-max{
        font-size: f.smooth_font(36px ,40px);
      }
      @include f.mq-sp{
        font-size: f.smooth_font(28px ,36px);
      }
    }
  }
  &02{
    @extend %title-style;
    font-family: f.$zen_font;
    font-size: 2.4rem;
    color: f.$main_color;
    @include f.mq-max{
      font-size: f.smooth_font(18px ,24px);
    }
  }
  &03{
    @extend %title-style;
    &__sub{
      font-family: f.$zen_font;
      font-size: 2rem;
      color: f.$main_color;
      margin-bottom: 1em;
      @include f.mq-max{
        font-size: f.smooth_font(18px ,20px);
      }
    }
    &__lead{
      font-family: f.$zen_font;
      font-size: 4rem;
      @include f.mq-max{
        font-size: f.smooth_font(36px ,40px);
      }
    }
  }
  &04{
    @extend %title-style;
    .en{
      display: block;
      font-family: f.$open_font;
      color: f.$main_color;
      font-size: 1.4rem;
      margin-bottom: 1.5em;
      @include f.mq-max{
        font-size: f.smooth_font(12px ,14px);
      }
    }
    .jp{
      display: block;
      font-family: f.$zen_font;
      font-size: 4rem;
      @include f.mq-max{
        font-size: f.smooth_font(36px ,40px);
      }
      @include f.mq-sp{
        font-size: f.smooth_font(28px ,36px);
      }
    }
  }
  &05{
    position: relative;
    .en{
      font-size: 7rem;
      font-family: f.$open_font;
      color: f.$sub_color;
      @include f.mq-max{
        font-size: f.smooth_font(40px , 70px);
      }
    }
    .jp{
      position: absolute;
      left: 50%;
      bottom: -.5em;
      transform: translateX(-50%);
      font-family: f.$zen_font;
      font-size: 2rem;
      @include f.mq-max{
        font-size: f.smooth_font(18px , 20px);
      }
    }
  }
  &06{
    @extend %title-style;
    position: relative;
    font-family: f.$zen_font;
    font-size: 3.2rem;
    padding-top: .5em;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 2px;
      background: f.$main_color;
    }
    @include f.mq-max{
      font-size: f.smooth_size(28px, 32px);
    }
  }
  &07{
    span{
      @extend %title-style;
      font-weight: bold;
      font-size: 2.4rem;
      border-bottom: 1px solid f.$main_color;
      padding-bottom: .2em;
      @include f.mq-max{
        font-size: f.smooth_size(18px, 24px);
      }
    }
  }
}